
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);

.wufoo {
  font-family: Roboto-Regular;
  color: #F5F5F6;
  background-color: #3A2D55;
}

.wufoo .info h2 {
  
  color: #F5F5F6;
  font-size: 1.85rem;
  line-height: 1.2;
  margin-bottom: 1.75rem;
}

.wufoo .info div {
  color: #F5F5F6;
  font-size: 0.9375rem;
  font-weight: 300;
}

.wufoo ul {
  background: transparent !important;
}

.wufoo li {
  background: transparent !important; 
  
  padding: 0 !important;
}

.field_group_download {
  border-bottom: 2px solid #5D5177 ;
  margin-top: 0.5rem;
}

.wufoo li.focused {
  background: transparent !important; 
  border-bottom: 2px solid #5D5177 !important ;
}

.wufoo li div {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
}

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
  font-family: Roboto-Regular;
  color: #F5F5F6;
}

.wufoo li.focused label.desc, .wufoo li.focused legend.desc, .wufoo li.focused div, .wufoo li.focused span, .wufoo li.focused div label, .wufoo li.focused span label, .safari .wufoo li.focused input.file {
  color: #F5F5F6;
}



.wufoo label.desc, .wufoo legend.desc {
  display: inline-block;
  width: 32%;
  vertical-align: middle;
  color: #B8B8B8;
  font-weight: 300;
  font-size: 0.9375rem;
}

.field_group_download input,
.field_group_download select {
  width: 100%;
  float: left;
  height: 2.5rem;
  border: 0px solid transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-left: 0.5rem;
  background: transparent !important;
  color: #F5F5F6;
  margin: 0 !important;
  outline: none;
}

.field_group_download select {
  position: relative;
  bottom: 3px;
}


.wufoo input.btTxt {
  margin-top: 1.5rem !important;
  display: block !important;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 1.25rem;
  background: #57CC8C !important;
  color: #044722 !important;
  border: 0px solid transparent !important;
  width: 150px
}

input:-webkit-autofill {
  color: #fff !important;
}

/* #wuf-adv { */
/*   display: none; */
/* } */

.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
  color: #B8B8B8;
}

#header {
  border-bottom: 0px solid transparent
}

#errorLi, .error-container {
  display: none;
}

form li.error {
    background-color: transparent !important;
}

#wuf-adv {
  display: none!important;
}
