$fonticon-url: "../fonts/fonticon";
@font-face {
font-family: 'fonticon';
src: url("#{$fonticon-url}.ttf") format("truetype"),
url("#{$fonticon-url}.eot") format("embedded-opentype"),
url("#{$fonticon-url}.woff") format("woff");
}

[class*=" icon-addon-"],
[class^="icon-addon-"] {
    &::before {
        clip-path: polygon(
            0 0,
            100% 0,
            100% 59%,
            95.5% 54.5%,
            88% 50.3%,
            80% 48.5%,
            71% 49.2%,
            64% 52%,
            58% 56%,
            53% 62%,
            50% 69%,
            48.8% 79%,
            50.5% 87%,
            55% 95%,
            60% 100%,
            0 100%
        );
    }
}

.icon,
[class*=" icon-"],
[class^="icon-"] {
    font-family: 'fonticon' !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal !important;
    vertical-align: middle;
}

$icons: (
"radio": "\ea01",
"radio-active": "\ea02",
"checkbox-indeterminate": "\ea03",
"checkbox": "\ea04",
"checkbox-active": "\ea05",
"swap": "\ea06",
"unfold": "\ea07",
"account": "\ea08",
"add": "\ea09",
"apartment": "\ea0a",
"arrow-left": "\ea0b",
"arrow-down": "\ea0c",
"arrow-dropdown": "\ea0d",
"arrow-dropup": "\ea0e",
"arrow-right": "\ea0f",
"arrow-up": "\ea10",
"refresh": "\ea11",
"calendar-today": "\ea12",
"cancel-circle": "\ea13",
"check-circle": "\ea14",
"check-circle-outline": "\ea15",
"check": "\ea16",
"chevron-left": "\ea17",
"chevron-right": "\ea18",
"cancel": "\ea19",
"cloud": "\ea1a",
"collection": "\ea1b",
"copy": "\ea1c",
"cut": "\ea1d",
"paste": "\ea1e",
"creditcard": "\ea1f",
"calendar": "\ea20",
"delete": "\ea21",
"download": "\ea22",
"title": "\ea23",
"mail-open": "\ea24",
"edit": "\ea25",
"error": "\ea26",
"error-outline": "\ea27",
"chevron-up": "\ea28",
"chevron-down": "\ea29",
"heart": "\ea2a",
"sort": "\ea2b",
"folder": "\ea2c",
"format-align-left-filled": "\ea2d",
"home": "\ea2e",
"inbox": "\ea2f",
"info": "\ea30",
"info-outline": "\ea31",
"layers": "\ea32",
"location": "\ea33",
"lock": "\ea34",
"logout": "\ea35",
"mail": "\ea36",
"mail-outline": "\ea37",
"menu": "\ea38",
"monitor": "\ea39",
"more-horizontal": "\ea3a",
"more-vertical": "\ea3b",
"notification": "\ea3c",
"newtab": "\ea3d",
"users": "\ea3e",
"add-user": "\ea3f",
"user": "\ea40",
"phone": "\ea41",
"photo": "\ea42",
"photo-outline": "\ea43",
"play": "\ea44",
"clock": "\ea45",
"unlock": "\ea46",
"database": "\ea47",
"network": "\ea48",
"dashboard": "\ea49",
"settings": "\ea4a",
"star-filled": "\ea4b",
"star-outline": "\ea4c",
"maintenance": "\ea4d",
"send": "\ea4e",
"next": "\ea4f",
"previous": "\ea50",
"warning-outline": "\ea51",
"list": "\ea52",
"university": "\ea53",
"usage": "\ea54",
"help": "\ea55",
"warning": "\ea56",
"support": "\ea57",
"search": "\ea58",
"logs": "\ea59",
"dashboard-outline": "\ea5a",
"star-half-filled": "\ea5b",
"modules": "\ea5c",
"work": "\ea5d",
"upload-file": "\ea5e",
"wifi": "\ea5f",
"theme": "\ea60",
"docs-mail": "\ea61",
"docs-community": "\ea62",
"docs-open-source": "\ea63",
"docs-enterprise": "\ea64",
"docs-alternator": "\ea65",
"docs-operator": "\ea66",
"docs-monitoring": "\ea67",
"docs-chevron-right": "\ea68",
"docs-info": "\ea69",
"docs-warning": "\ea6a",
"docs-chevron-left": "\ea6b",
"docs-menu-collapse": "\ea6c",
"docs-thumbs-down": "\ea6d",
"docs-thumbs-up": "\ea6e",
"instance": "\ea6f",
"pause": "\ea70",
"stop": "\ea71",
"reset": "\ea72",
"docs-cloud": "\ea73",
"docs-getting-started": "\ea74",
"docs-blog": "\ea75",
"docs-training": "\ea76",
"docs-commands": "\ea77",
"docs-enterprise-m": "\ea78",
"key": "\ea79",
"aws-vpc-peering-circle": "\ea7a",
"aws-vpc-peering": "\ea7b",
"server": "\ea7c",
"download-file": "\ea7d",
"scale-up": "\ea7e",
"scale-down": "\ea7f",
"resize": "\ea80",
"grid": "\ea81",
"docs-download": "\ea82",
"upload": "\ea83",
"cloud-error": "\ea84",
"terminal": "\ea85",
"sample-data": "\ea86",
"add-circle-outline": "\ea87",
"play-circle": "\ea88",
"play-circle-outline": "\ea89",
"stop-circle": "\ea8a",
"add-circle": "\ea8b",
"scale-in": "\ea8c",
"scale-out": "\ea8d",
"rocket": "\ea8e",
"link": "\ea8f",
"coin": "\ea90",
"processor": "\ea91",
"memory": "\ea92",
"storage": "\ea93",
"lan": "\ea94",
"cloud-download": "\ea95",
"description": "\ea96",
"edit-notifications": "\ea97",
"gpp-bad": "\ea98",
"gpp-good": "\ea99",
"gpp-maybe": "\ea9a",
"label": "\ea9b",
"key-off": "\ea9c",
"sync": "\ea9d",
"sync-problem": "\ea9e",
"visibility": "\ea9f",
"visibility-off": "\eaa0",
"cloud-upload": "\eaa1",
"xcloud": "\eaa2",
"legacycloud": "\eaa3",
"data-center": "\eaa4",
"evaluation": "\eaa5",
"lightning": "\eaa6",
"server2": "\eaa7",
"server3": "\eaa8",
"substract-circle": "\eaa9",
"chart-area": "\eaaa",
"chart-bar": "\eaab",
"schema": "\eaac",
"monitoring": "\eaad",
"scylla": "\eaae",
"table": "\eaaf",
"operations": "\eab0",
"save": "\eab1",
"tune": "\eab2",
"aws-private-link": "\eab3",
"slack": "\eab4",
"github": "\eab5",
"facebook": "\eab6",
"linkedin": "\eab7",
"x-logo": "\eab8",
"google": "\eab9",
"stack-overflow": "\eaba",
"gcp-vpc-peering-circle": "\eabb",
"gcp-vpc-peering": "\eabc",
"gcp-nnc": "\eabd",
"gcp-private-service-connect": "\eabe",
"scylla-outline": "\eabf",
"aws-transit-gateway": "\eac0",
"azure-virtual-network-gateways": "\eac1",
"azure-virtual-networks": "\eac2",
"azure-private-link-service": "\eac3",
"xcloud-alt": "\eac4",
"eye": "\eac5",
"docs-configuration": "\eac6",
"docs-manager": "\eac7",
"docs-contribute": "\eac8",
"docs-nsql-guides": "\eac9"
);

@each $name, $glyph in $icons {
.icon-#{$name}:before { content: $glyph; }
}