<!-- footer.html -->
<footer id="footer">
      <div class="row">
        <div class="large-3 columns show-for-large-up">
          <ul class="footer_links">
            <li><a href="//www.scylladb.com/">Scylla Home</a></li>
          </ul>
        </div>

        <div class="large-3 columns show-for-large-up">
          <ul class="footer_links ">
            <li><a href="//www.scylladb.com/privacy/">Privacy</a></li>
          </ul>
        </div>

        <div class="large-3 columns show-for-large-up">
          <ul class="footer_links">
            <li><a href="http://www.scylladb.com/opensource/documentation-license/">Documentation License</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div class="social_footer">
            <a class="item"  href="https://github.com/ScyllaDB">
              <span class="icon-github2"></span>
            </a>
            <a class="item" href="https://twitter.com/ScyllaDB">
              <span class="icon-twitter"></span>
              
            </a>
            <a class="item" href="https://www.linkedin.com/company/scylladb" >
              <span class="icon-linkedin2"></span> 
            </a>
            <a class="item" href="https://www.facebook.com/scylladb/">
              <span class="icon-facebook"></span>
            </a>
          </div>
        </div>
      </div>
    </footer>
<!-- end footer.html -->
