<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" href="{{ site.baseurl }}/img/favicon.ico" type="image/x-icon"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.scylladb.com/feed.xml" />

	<link rel="author" href="mailto:info@scylladb.com">    
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/js/vendor/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/js/vendor/slick/slick-theme.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/js/vendor/highlight/styles/default.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/foundation.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/site.css" />
    <script src="{{site.baseurl}}/js/vendor/modernizr.js"></script>

	{% if page.cardimage %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@scylladb">
	<meta name="twitter:creator" content="@scylladb">
	<meta name="twitter:title" content="{{ page.title }}">
	<meta name="twitter:description" content="{{ page.description }}">
	<meta name="twitter:image" content="{{ page.cardimage }}">
	{% endif %}

</head>
