      <!-- doc-side-nav.html -->
          <div class="row collapse postfix-round">
            <div class="small-10 columns">
              <input type="text" class="side_nav_search" placeholder="Search">
            </div>

            <div class="small-2 columns">
              <a href="#" class="button side_nav_search_btn postfix"><span class="icon-search"></span></a>
            </div>
          </div>

          <ul class="side-nav">

              <li><a href="{{ site.baseurl }}/doc/">Getting started</a>
                <ul> <!-- added ul inside of li -->
                  <li><a href="{{ site.baseurl }}/doc/admin/#planning-a-cluster-deployment">Planning</a></li>
                  <li><a href="{{ site.baseurl }}/doc/admin/#installing"></a></li>
                </ul>
              </li>

              <li><a {% if subsection == 'admin' %}class="current"{% endif %} href="/doc/admin/">Administration guide</a></li>
			  	{% if subsection == 'admin' %}
                <ul>
                  <li><a href="/doc/admin/#overview">Overview</a></li>
                  <li><a href="/doc/admin/#planning-a-cluster-deployment">Planning</a></li>
                  <li><a href="/doc/admin/#installing">Installing</a></li>
                  <li><a href="/doc/admin/#compaction">Compaction</a></li>
                  <li><a href="/doc/admin/#monitoring">Monitoring</a></li>
                </ul>
				{% endif %}
              <li><a href="#">General data model design</a></li>
              <li><a {% if subsection == 'kb' %}class="current"{% endif %} href="/kb/">Knowledge base</a></li>
			  <li>{% include kb-menu.html param="hidedetails" %}</li>
          </ul>
		<!-- end doc-side-nav.html -->
