<!-- top-nav.html section={{page.section}} -->
<nav class="top-bar" id="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
            </li>
            <li class="toggle-topbar"><a href="."><span class="icon-manu"></span></a></li>
          </ul>

          <section class="top-bar-section clearfix">
            <ul class="right">
              <li class="has-dropdown">
			    <a {% if page.section == 'doc' %}class="current"{% endif %} href="{{ site.baseurl }}/">Documentation</a>
                <ul class="dropdown">
        			<li><a href="/doc/getting-started/">Getting Started</a></li>
					<li><a href="/doc/admin/">Administration Guide</a></li>
        			<li><a href="/doc/faq/">FAQ</a></li>
        			<li><a href="/doc/system-configuration/">System Configuration Guide</a></li>
					<li><a href="/kb/">Knowledge base</a></li>
                </ul>
			  </li>
              <li class="has-dropdown"><a {% if page.section == 'community' %}class="current"{% endif %} href="http://www.scylladb.com/community/">Community</a>
              <li><a {% if page.section == 'blog' %}class="current"{% endif %} href="{{ site.baseurl }}/blog/">Blog</a></li>
              <li class="show-for-large-up">
                <a href="#" class="search_icon" ><span class="icon-search"></span></a>
                <div class="row collapse search_continer hide">
        					<form method="get" action="http://www.google.com/search">
                    <div class="large-10 small-10 column">
            					<input type="hidden" name="sitesearch" value="docs.scylladb.com" />
            					<input type="text" class="input_search" name="q" placeholder="Search" /> 
                    </div>
                    <div class="large-2 small-2 column">
                      <button class="button expand search_go" type="submit"><span class="icon-search"></span></button>
                    </div>
          				</form>
                </div>
              </li>
              <li ><a href="{{ site.baseurl }}/doc/getting-started/" class="download animated" >Get Started</a></li>
            </ul>
          </section>
        </nav>
<!-- end top-nav.html -->
