@use "sass:map";

.admonition {
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  color: var(--text-muted);
  font-size: $font-small;
  line-height: 20px;
  margin-bottom: $gap;
  overflow: auto;
  padding: 20px 20px 20px 52px;
  position: relative;
  background-color: var(--body-bg);

  &:before {
    content: " ";
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &-title {
    color: var(--primary);
    left: -32px;
    position: relative;
    font-weight: bold;
    display: flex;

    &:before {
      @extend .icon;
      content: map.get($icons, "docs-info");
      margin-right: 8px;
      font-size: 24px;
      width: 24px;
      background-image: none !important;
    }
  }

  p {
    margin-bottom: 0 !important;
  }

  &.tip {
    border: 1px solid var(--success);

    &:before {
      border-left: 8px solid var(--success);
    }

    .admonition-title {
      color: var(--success) !important;
    }
  }

  &.note {
    border: 1px solid var(--info);

    &:before {
      border-left: 8px solid var(--info);
    }

    .admonition-title:before {
     
    }
    .admonition-title {
      color: var(--info) !important;
    }
  }

  &.caution {
    border: 1px solid var(--warning);

    &:before {
      border-left: 8px solid var(--warning);
    }

    .admonition-title:before {
      content: map.get($icons, "docs-warning");
    }

    .admonition-title {
      color: var(--warning) !important;
    }
  }

  &.warning {
    border: 1px solid var(--danger);

    &:before {
      border-left: 8px solid var(--danger);
    }

    .admonition-title:before {
      content: map.get($icons, "docs-warning");
    }
    .admonition-title {
      color: var(--danger) !important;
    }
  }
}
