body {
  transition: all 400ms ease;
}

.promo-banner {
  background-color: $color-background-banner;
  background-image: url("../img/banner-background.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;

  &__icon {
    margin-right: 15px;
    img {
      height: 40px;
    }
  }

  &__title {
    color: $color-typography-banner-title;
    font-size: 18px;
    line-height: 23px;
    margin-right: 15px;
  }

  &__button {
    background: $color-white;
    border-radius: 4px;
    padding: 10px !important;
  }

  &__close {
    position: absolute;
    right: 16px;
    top: 16px;

    .scylla-icon {
      height: 34px;
      width: 34px;
      filter: brightness(100%);
    }

    &:hover {
      filter: opacity(0.8);
      cursor: pointer;
    }
  }
}

.promo-banner-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 13px;
}

@media (min-width: 992px) {
  .promo-banner-wrapper {
    flex-direction: unset;
  }
}
