.breadcrumbs {
  /* Reset Foundation */
  margin-bottom: 10px;
  .bread__item,
  a,
  .bread__item:not(.bread__item--last)::after {
    font-family: $font-title-family;
    color: $color-typography-breadcrumbs;
    font-size: $font-base-smallest-size;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  .bread__item {
    &:before {
      display: none;
    }

    &:not(.bread__item--last)::after {
      margin: 0 5px;
    }
  }
}
