.breadcrumbs {
  /* Reset Foundation */
  margin-bottom: 0;
  text-transform: uppercase;

  .bread__item,
  a,
  .bread__item:not(.bread__item--last)::after {
    color: var(--text-color);
    font-size: $font-smallest;
    font-weight: 400;
    letter-spacing: 1.5px;
    line-height: 2;
    margin: 0;
    padding: 0;
  }

  .bread__item {
    &:before {
      display: none;
    }

    &:not(.bread__item--last)::after {
      content: "/";
      margin: 0 5px;
      opacity: 1;
      position: relative;
    }
  }

  .bread__highlight {
    color: var(--link-color);

    &:hover {
      text-decoration: none;
      font-weight: bold;
    }
  }
}
