.button {
  font-size: $font-small-size;
  color: $color-typography-button;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  padding: 12px;
  background-color: $color-background-button;
  &:hover {
    background-color: darken($color-background-button, 10%);
  }
}

.button-driver {
  margin-left: 50px;
  padding: 20px 0 20px 0 !important;
  color: #5a5e9a;
  font-size: $font-small-size;

  &__img {
    margin-top: -30px;
    margin-left: -75px;
    float: left;
    width: 77px;
  }
  &__title {
    margin-left: -10px;
  }
}
