.button {
  background: transparent;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  font-size: $font-sm;
  letter-spacing: 1px;
  line-height: 21px;
  padding: $spacer-xs $spacer-sm;
  margin: 0;

  &:hover,
  &:focus {
    background: transparent;
    color: var(--link-color);
    text-decoration: none;
  }

  &--reverse {
    border: 0;
    background: var(--bg-color);

    &:hover,
    &:focus {
      background: var(--bg-color);
    }
  }

  &.button-sm {
    padding: $spacer-xxs $spacer-xs;
  }
}
