.button {
  background: transparent;
  border: 1px solid var(--color-border-button);
  border-radius: 4px;
  color: var(--color-typography-button);
  display: inline;
  font-size: $font-small;
  letter-spacing: 1px;
  line-height: 21px;
  padding: 12px 14px;
  margin: 0;

  &:hover,
  &:focus {
    background: transparent;
    color: var(--color-typography-button);
    text-decoration: none;
  }

  &--reverse {
    border: 0;
    background: var(--color-white);

    &:hover,
    &:focus {
      background: var(--color-white);
    }
  }
}
