code {
  color: $color-typography-code;
  background-color: $color-background-code;
  border: none;
  border-radius: 4px;
  font-size: $font-small;

  &.download {
    background: none;
    color: $color-typography-code;
  }
}

.highlight {
  background: transparent !important;

  pre {
    background-color: $color-background-code;
    border-radius: $round;
    color: $color-typography-code;
    font-size: $font-small;
    line-height: 26px;
    margin-bottom: $gap;
    overflow: auto;
    padding: 16px;
  }

  a.copybtn {
    right: 1em;
    top: 1em;
  }
}

.highlighttable {
  background-color: $color-background-code;
  border-radius: 16px;
  box-shadow: none;

  tbody {
    background-color: transparent;
    border: 0;

    td {
      padding: 15px !important;
    }

    tr {
      border-top: none;
    }
  }

  .linenos {
    color: $color-typography-code-line-number;
    background-color: $color-background-code;
    width: 50px;

    span {
      line-height: 26px;
    }
  }

  .highlight {
    pre {
      background-color: transparent;
      margin: 0;
      padding: 0;
    }
    a.copybtn {
      right: 0.2em;
      top: 0.2em;
    }
  }
}

a.copybtn img:hover {
  filter: brightness(0);
}
