code {
  color: var(--code-color);
  background-color: var(--well-bg);
  border: none;
  border-radius: 4px;
  font-size: $font-small;

  &.download {
    background: none;
    color: var(--code-color);
  }
}

.highlight {
  background: transparent !important;

  pre {
    background-color: var(--well-bg);
    border-radius: $round;
    color: var(--code-color);
    font-size: $font-small;
    line-height: 26px;
    margin-bottom: $gap;
    overflow: auto;
    padding: 16px;
  }

  a.copybtn {
    right: 1em;
    top: 1em;
  }
}

.highlighttable {
  background-color: var(--well-bg);
  border-radius: 16px;
  box-shadow: none;

  tbody {
    background-color: transparent;
    border: 0;

    td {
      padding: 15px !important;
    }

    tr {
      border-top: none;
    }
  }

  .linenos {
    color: var(--color-typography-code-line-number);
    background-color: var(--color-background-code);
    width: 50px;

    span {
      line-height: 26px;
    }
  }

  .highlight {
    pre {
      background-color: transparent;
      margin: 0;
      padding: 0;
    }
    a.copybtn {
      right: 0.2em;
      top: 0.2em;
    }
  }
}

.copybtn {
  background-color: var(--card-bg) !important;
}

.hide-copy-button .copybtn {
  display: none;
}
