/* This stylesheet uses the !important operator
   to overwrite sphinx_collapse custom CSS rules.
*/
.sphinx_collapse__label {
  display: flex !important;
  font-size: initial;
  font-weight: bold;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: 0 !important;
  color: var(--text-color);
}

.sphinx_collapse__icon {
  margin-left: 5px;
  margin-right: 0;

  border-top-color: var(--text-color) !important;
}

.sphinx_collapse__input:checked ~ .sphinx_collapse__label,
.sphinx_collapse__label:hover {
  color: var(--link-color);
  .sphinx_collapse__icon {
    border-top-color: var(--link-color) !important;
  }
}

.sphinx_collapse__content {
  margin-top: 10px;
}
