.layout {
  display: flex;
}
.content {
  overflow-wrap: break-word;

  padding: $spacing;
  margin-top: $header-height;
  scroll-margin-top: $header-height;
  width: 100%;

  &--full-width {
    padding: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;

    .topics-grid {
      max-width: $full-width;
    }

    .hero-wrapper {
      max-width: $full-width;
    }

    blockquote {
      display: none;
    }
  }

  p,
  .line-block {
    line-height: 28px;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;

    li::before {
      content: "\2022";
      color: $color-typography-bullet;
      font-family: $font-icons-family;
      float: left;
      font-size: 20px;
      font-weight: bold;
      margin-left: -1em;
      margin-top: -2px;
      width: 1em;
    }

    ul {
      list-style: circle;
      li::before {
        content: "";
      }
    }
  }

  ol ol {
    list-style: lower-latin;
  }

  img {
    margin-bottom: $gap;
  }

  .reference:after {
    font-family: $font-icons-family;
    font-size: $font-smallest-size;
    padding: 0 4px;
  }

  .reference.external:after {
    content: "\f08e";
  }

  .reference.download:after {
    content: "\f019";
  }

  .section {
    margin-top: -$header-height;
    padding-top: $header-height;
  }

  .inline-icon.fa-check {
    color: $color-typography-icon-checkmark;
  }
}

@media screen and (min-width: $large) {
  .content {
    min-height: calc(100vh - (#{$footer-height} + #{$header-height}));
    padding-bottom: 100px;
    margin-left: $secondary-side-nav-width;
    width: calc(100% - (#{$secondary-side-nav-width} * 2));
  }
}

@media screen and (min-width: $xlarge) {
  .content {
    padding: $spacing-l;
    padding-top: 60px;
    margin-left: $side-nav-width;
    width: calc(100% - (#{$side-nav-width} + #{$secondary-side-nav-width}));
  }
}
