.content {
  padding: $spacing;
  margin-top: $header-height;

  &--right-sidebar-hidden {
    padding: 0;
  }

  p {
    line-height: 28px;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;

    li::before {
      font-family: $font-icons-family;
      font-display: swap;
      content: "\2022";
      color: $color-typography-bullet;
      font-weight: bold;
      width: 1em;
      margin-left: -1em;
      margin-top: -2px;
      float: left;
      font-size: 20px;
    }

    ul {
      list-style: circle;
      li::before {
        content: "";
      }
    }
  }

  img {
    margin-bottom: $gap;
  }

  .reference:after {
    font-family: $font-icons-family;
    font-size: $font-smallest-size;
    font-display: swap;
    padding: 0 4px;
  }

  .reference.external:after {
    content: "\f08e";
  }

  .reference.download:after {
    content: "\f019";
  }

  .section {
    padding-top: $header-height;
    margin-top: -$header-height;
  }
}

.welcome {
  text-align: center;
  background: linear-gradient(180deg, #ffffff 0%, #f6f8ff 100%);
  padding: 60px $spacing;

  &__title {
    margin-bottom: 10px;
  }

  &__text {
    font-size: 18px;

    a {
      color: $color-typography-topic-grid-title;
      border-bottom: 1px $color-typography-topic-grid-title dotted;
    }
  }
}

@media screen and (min-width: $medium) {
  .content {
    padding: $spacing-l;
    padding-bottom: 100px;
    min-height: calc(100vh - 276px);

    &--right-sidebar-hidden {
      padding: 0;
    }
  }

  .welcome {
    text-align: left;
    padding: 60px $spacing-l;
  }
}

@media screen and (min-width: $large) {
  .content section {
    // header + offset
    scroll-margin-top: calc(83px);
  }
}
