.layout {
  display: flex;
  background-color: var(--bg-color);
  flex-grow: 1;
}

.content {
  overflow-wrap: break-word;
  width: 100%;

  .pre-content, .content-body, .post-content {
      padding-left: $spacer-sm;
      padding-right: $spacer-sm;

      @media screen and (min-width: $large) {
        padding-left: $spacer;
        padding-right: $spacer;
      }

      @media screen and (min-width: $xlarge) {
        padding-left: $spacer-md;
        padding-right: $spacer-md;
      }
  }

  .content-body {
      padding-top: $spacer-sm;
      padding-bottom: $spacer-sm;

      @media screen and (min-width: $large) {
        padding-top: $spacer;
        padding-bottom: $spacer;
      }

      @media screen and (min-width: $xlarge) {
        padding-top: $spacer-md;
        padding-bottom: $spacer-md;
      }
  }

  .pre-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: $product-title-height;
    background: var(--navigation-bg);
    margin-bottom: 0;
  }

  .sidebar-right-layout {
    display: flex;

    .body-container {
      max-width: $max-content-width;
      flex-grow: 1;
      width: 0;
    }
  }


  .post-content {
    padding-bottom: $spacer-md;
  }
  .content-body {
    p,
    .line-block {
      line-height: 28px;
      margin-bottom: 20px;
    }

    ul {
      list-style: none;

      li::before {
        content: "\2022";
        color: var(--text-muted);
        float: left;
        font-size: 20px;
        font-weight: bold;
        margin-left: -1em;
        margin-top: -2px;
        width: 1em;
      }

      ul {
        list-style: circle;
        li::before {
          content: "";
        }
      }
    }

    ol ol {
      list-style: lower-latin;
    }

    img {
      margin-bottom: $gap;
    }

    .inline-icon {
      font-size: 22px;

      &.icon-check {
        color: var(--primary);
      }
    }
  }
}

.layout--full-width .content {
  width: 100%;
  max-width: 100%;
  padding: 0;

  .topics-grid {
    max-width: $max-full-width;
  }

  .hero-wrapper {
    max-width: $max-full-width;
  }

  &.content--collapsed {
    margin-left: 0;
  }
}

.layout--full-width:not(.layout--sidebar) .content {
  margin-left: 0;
}

.landing__content {
  padding: 0 16px;
  margin-top: 60px;
}

@media screen and (min-width: $large) {
  .landing__content {
    margin-top: 0;
  }
}

@media screen and (min-width: $xlarge) {
  // .content {
  //   width: calc(100% - (#{$side-nav-width} + #{$secondary-side-nav-width}));

  //   &--collapsed {
  //     width: calc(
  //       100% - (#{$side-nav-width-collapsed} + #{$secondary-side-nav-width})
  //     );
  //   }
  // }

  .landing {
    &__content {
      padding: 0 60px;
    }
  }
}
