.content-navigation {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.navigation {
  display: flex;
  max-width: 50%;
  word-break: break-word;

  &__link {
    display: flex;
  }

  &__title {
    color: var(--text-color);
    font-weight: 500;
    font-size: $font-smallest;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 24px;
    word-wrap: break-word;

    .colored {
      color: var(--primary);
    }
  }

  &__button {
    @include floating;
    background-color: var(--card-bg);
    color: var(--text-color);
    display: none;
    height: fit-content;
    font-size: 0px;
    padding: 8px 8px;
    cursor: pointer;

    i {
      font-size: 26px;
    }
  }

  &--prev {
    .navigation__title {
      margin-left: 15px;
    }
  }

  &--next {
    .navigation__title {
      margin-right: 15px;
      text-align: right;
    }
  }
}

@media screen and (min-width: $xlarge) {
  .navigation {
    &__title {
      display: inline-block;
    }
    &__button {
      display: block;
    }
    &--next {
      .navigation__title {
        text-align: left;
      }
    }
  }
}
