.content {
  padding: $spacing;
  overflow-wrap: break-word;

  &--full-width {
    padding: 0;
  }

  p {
    line-height: 28px;
    margin-bottom: 20px;
  }

  ul {
    list-style: none;

    li::before {
      content: "\2022";
      color: $color-typography-bullet;
      font-family: $font-icons-family;
      float: left;
      font-size: 20px;
      font-weight: bold;
      margin-left: -1em;
      margin-top: -2px;
      width: 1em;
    }

    ul {
      list-style: circle;
      li::before {
        content: "";
      }
    }
  }

  ol ol {
    list-style: lower-latin;
  }

  img {
    margin-bottom: $gap;
  }

  .reference:after {
    font-family: $font-icons-family;
    font-size: $font-smallest-size;
    padding: 0 4px;
  }

  .reference.external:after {
    content: "\f08e";
  }

  .reference.download:after {
    content: "\f019";
  }

  .section {
    margin-top: -$header-height;
    padding-top: $header-height;
  }

  .inline-icon.fa-check {
    color: $color-typography-icon-checkmark;
  }
}

@media screen and (min-width: $medium) {
  .content {
    min-height: calc(100vh - 276px);
    padding-bottom: 100px;

    &--full-width {
      padding: 0;
    }
  }
}

@media screen and (min-width: $large) {
  .content {
    margin-top: $header-height;
    section {
      // header + offset
      scroll-margin-top: calc(80px);
    }
  }
}

@media screen and (min-width: $xlarge) {
  .content {
    padding: $spacing-l;

    &--full-width {
      padding: 0;
    }
  }
}
