.contribute {
  margin: 0;
  margin-bottom: 20px;

  &__item {
    font-size: $font-small;
    padding-bottom: 10px;
    list-style: none;

    a {
      display: flex;
      align-items: center;
    }

    i {
      font-size: 1.2em;
      line-height: 1em;
      margin-right: 5px;
    }
  }
}
