.content-navigation {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  max-width: 50%;
  word-break: break-word;

  &--prev {
    .navigation__title {
      margin-left: 15px;
    }
  }

  &--next {
    .navigation__title {
      .colored {
        color: $color-typography-content-navigation-next;
      }
      margin-right: 15px;
    }
  }

  &__button {
    @include floating;
    background-color: $color-white;
    color: $color-typography-content-navigation-button;
    vertical-align: top;
    font-weight: bold;
    padding: 13px 16.5px;
    cursor: pointer;
    i {
      height: 16px;
      width: 10px;
      min-height: 16px;
      margin: 0;
    }
  }

  &__title {
    display: none;
    font-family: $font-title-family;
    font-weight: 500;
    font-size: $font-smallest-size;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 24px;
    word-wrap: break-word;
  }
}

@media screen and (min-width: $xlarge) {
  .navigation {
    &__title {
      display: inline-block;
    }
  }
}
