.scylla-dropdown--versions {
  .scylla-dropdown__item {
    background: var(--color-white);
    border-radius: $round;
    box-shadow: 0 28px 32px rgba(0, 0, 0, 0.06);
    width: 100%;
  }

  .scylla-dropdown__title {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .chevron {
      min-height: 12px;
      transform: rotate(90deg);
      width: 8px;
    }
  }
}

@media screen and (min-width: $large) {
  .scylla-dropdown--versions {
    .scylla-dropdown__item {
      box-shadow: none;
    }
  }
}
