.scylla-dropdown {
  font-size: $font-small-size;
  color: $color-typography-dropdown;

  a,
  a:hover,
  a:focus {
    color: $color-typography-dropdown !important;
    padding: 0 !important;
  }

  &__item {
    padding: 15px;
    font-size: $font-base-size;
  }

  &__title {
    position: initial;
    display: flex;
    align-items: center;
    &:after {
      display: none !important;
    }

    .chevron {
      min-height: 5px;
      width: 12px;
    }
  }

  &__content {
    @include floating;
    list-style: none;
    margin-top: 15px;
    padding: 16px 0;
    width: max-content;
    font-size: $font-base-size;

    li {
      padding: 7px 16px;
      .scylla-icon {
        margin-right: 10px;
      }
    }
  }
}
