.scylla-dropdown--contribute {
  float: right;
  .scylla-dropdown__item {
    padding: 0;
    &:before {
      display: none;
    }
  }

  .scylla-dropdown__title {
    align-items: center;
    background: $color-background-dropdown-contribute;
    border: 0.5px solid $color-border-dropdown-contribute;
    border-radius: 2px;
    display: flex;
    font-weight: 500;
    font-size: $font-small;
    line-height: 1;
    /* Override Foundation */
    padding: 7px !important;

    &:hover,
    &:focus {
      /* Override Foundation */
      background: $color-background-dropdown-contribute !important;
      padding: 7px !important;
    }

    .scylla-dropdown__title--body {
      display: flex;
      align-items: center;

      .icon {
        margin-right: 8px;
      }
    }

    .chevron {
      margin-left: 8px;
      min-height: 7.14px;
      transform: rotate(90deg);
      width: 4.4px;
    }
  }

  .scylla-dropdown__content {
    margin-top: 7px;
    font-size: $font-small;

    .icon {
      font-size: 12px;
      margin-left: 4px;
    }
  }
}
