.scylla-dropdown {
  color: var(--color-typography-dropdown);
  font-size: $font-small;
  line-height: 20px;

  a,
  a:hover,
  a:focus {
    color: var(--color-typography-dropdown) !important;
    padding: 0 !important;
  }

  &__item {
    font-size: $font-base;
    padding: 15px;
  }

  &__title {
    /* Override Foundation */
    color: inherit;
    align-items: center;
    display: flex !important;
    position: initial !important;
    &:after {
      display: none !important;
    }

    .chevron {
      min-height: 5px;
      width: 10px;
    }
  }

  &__content {
    @include floating;
    font-size: $font-base;
    list-style: none;
    margin-top: 15px;
    padding: 16px 0;
    width: max-content;

    li {
      padding: 7px 16px;
      .scylla-icon {
        margin-right: 10px;
      }
    }
  }
}
