.feedback-container {
  text-align: left;
  font-size: $font-base;
  margin-top: 40px;


  &__title {
    font-weight: bold;
    margin-bottom: 5px !important;
  }

  &__button {
    cursor: pointer;
    margin: 4px;
    padding: 8px;
    border: 1px solid var(--card-bg);
    color: var(--text-color);
    @include floating;

    background-color: var(--card-bg) !important;
    &.active {
      border-color: var(--primary);
    }
  }

  &__icon {
    font-size: 22px;
  }

  &__message {
    margin-top: 10px;
    font-size: $font-base;
  }
}
