.footer {
  background-color: var(--card-bg);
  box-shadow: 0 -4px 10px rgba(0,0,0, 0.1);
  position: relative;
  padding: 30px 0;
  width: 100%;
  z-index: 50;
}

.footer-group {
  margin: 0 auto;
  max-width: $max-footer-width;
  padding: 0 20px;
}

.footer-top {
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 8px;
  text-align: center;
  padding-bottom: $spacer-sm;
  gap: $spacer-xs 0;
}

.footer-logo {  
  margin-bottom: 0;
  background-image: url("../img/logo-scylla-horizontal-color.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 156px !important;
  height: 36px;

  @at-root .dark #{&} {
    background-image: url("../img/logo-scylla-horizontal-light.svg");
  }
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  line-height: 23px;

  &__link {
    color: var(--text-color);
    font-weight: 500;
    font-size: $font-xs;
    letter-spacing: 2.4px;
    margin-right: 16px;
    text-transform: uppercase;
  }
}

.footer-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: $spacer-xs;

  &__link {
    color: var(--text-color);
    font-size: 26px;
  }
}

.footer-bottom {
  color: var(--text-muted);
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  justify-content: center;
  letter-spacing: 1.4px;
  line-height: 23px;
  padding: 20px 0 10px 0;
  text-align: center;
  text-transform: uppercase;

  &__link,
  &__link:hover {
    color: var(--gray-600);
    font-weight: 500;
    text-decoration: underline;
  }
}

.footer-copyright {
  color: var(--text-muted);
  font-size: 12px;
  letter-spacing: 1.4px;
  line-height: 23px;
  padding: 20px 0 0 0;
  text-align: center;
  text-transform: uppercase;  

  &__link,
  &__link:hover {
    color: var(--gray-600);
    font-weight: 500;
    text-decoration: underline;
  }
}

.footer-ask-ai {
  display: block;
}

@media screen and (min-width: $large) {
  .footer {
    padding: 30px 0;
  }

  .footer-group {
    padding: 0;
  }

  .footer-top {
    padding-bottom: $gap;
  }

  .footer-logo {
    margin: 0;
    width: initial;
  }

  .footer-links {
    padding: 0 40px;

    &__link {
      font-size: $font-sm;
      margin-right: 28px;
    }
  }

  .footer-actions {
    &__link img {
      height: 28px;
    }
  }

  .footer-bottom {
    .footer-bottom__last-updated,
    .footer-bottom__version {
      padding: 0 10px;
    }
  }
}

@media screen and (min-width: $xlarge) {
  .footer-ask-ai {
    display: none;
  }
}
