.footer {
  background-color: $color-background-footer;
  box-shadow: 0px -4px 10px rgba(208, 208, 208, 0.25);
  position: relative;
  padding: 30px 0;
  z-index: 50;
}

.footer-group {
  margin: 0 auto;
  padding: 0 $spacing;
}

.footer-top {
  align-items: center;
  border-bottom: 1px solid $color-border-footer-top;
  padding-bottom: 30px;
  text-align: center;
}

.footer-logo {
  margin: 0 auto;

  img {
    height: 36px;
    margin: 0 auto;
  }
}

.footer-links {
  margin-top: 30px;
  text-align: left;

  &__link:not(.button) {
    color: $color-typography-footer-link;
    font-weight: 500;
    font-size: $font-small-size;
    letter-spacing: 2.4px;
    margin-right: 28px;
    text-transform: uppercase;
  }
}

.footer-actions {
  display: none;
  margin: 0 auto;
  &__link {
    color: $color-typography-footer-icon;
    padding: 0 10px;
  }
}

.footer-bottom {
  color: $color-typography-footer-copyright;
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  justify-content: center;
  letter-spacing: 1.4px;
  line-height: 23px;
  padding: 20px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  div {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: $medium) {
  .footer-links {
    margin: 0;
  }
}

@media screen and (min-width: $large) {
  .footer {
    padding: 30px 0;
  }

  .footer-group {
    padding: 0;
  }

  .footer-logo {
    text-align: left;
    img {
      margin: 0;
    }
  }

  .footer-links {
    padding: 0 $spacing-l;
  }

  .footer-actions {
    display: block;
    text-align: right;
  }

  .footer-bottom {
    div {
      border-left: 1px solid $color-typography-footer-copyright;
      margin: 0;
      padding: 0 10px;
      &.footer-bottom__copyright {
        border-left: none;
      }
    }
  }
}
