.footer {
  background-color: $color-background-footer;
  box-shadow: 0 -4px 10px rgba(208, 208, 208, 0.25);
  position: relative;
  padding: 30px 0;
  width: 100%;
  z-index: 50;
}

.footer-group {
  margin: 0 auto;
  max-width: $full-width;
  padding: 0 20px;
}

.footer-top {
  align-items: center;
  border-bottom: 1px solid $color-border-footer-top;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 8px;
  text-align: center;
}

.footer-logo {
  width: 100%;
  margin-bottom: $gap;
  img {
    float: left;
    height: 36px;
  }
}

.footer-links {
  text-align: left;

  &__link {
    color: $color-typography-footer-link;
    font-weight: 500;
    font-size: $font-smallest;
    letter-spacing: 2.4px;
    margin-right: 16px;
    text-transform: uppercase;
  }
}

.footer-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 60px;
  &__link {
    color: $color-typography-footer-icon;

    img {
      height: 23px;
    }
  }
}

.footer-bottom {
  color: $color-typography-footer-copyright;
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  justify-content: center;
  letter-spacing: 1.4px;
  line-height: 23px;
  padding: 20px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: $large) {
  .footer {
    padding: 30px 0;
  }

  .footer-group {
    padding: 0;
  }

  .footer-top {
    padding-bottom: $gap;
  }

  .footer-logo {
    margin: 0;
    width: initial;
  }

  .footer-links {
    padding: 0 40px;

    &__link {
      font-size: $font-small;
      margin-right: 28px;
    }
  }

  .footer-actions {
    width: 80px;
    &__link img {
      height: 28px;
    }
  }

  .footer-bottom {
    .footer-bottom__copyright,
    .footer-bottom__last-updated,
    .footer-bottom__version {
      padding: 0 10px;
    }
    .footer-bottom__copyright {
      border-left: none;
    }
  }
}
