/* Reset Foundation */
.top-bar,
.top-bar ul {
  background-color: transparent;
}

.top-bar {
  padding: 14.5px $spacing;
}

.dropdown .is-dropdown-submenu a {
  padding: 0;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  font-family: $font-icons-family;
  font-display: swap;
  border-color: $color-white transparent transparent;
  border: 0;
  content: "\f054";
  color: $color-white;
  margin-top: -10px;
}

.menu a {
  padding: 0;
}

.dropdown.menu > li > a {
  padding: 0.7rem 1rem;
}

/* Custom Components */
.header {
  background-color: $color-background-header;
  position: relative;
  width: 100%;
  z-index: 99;
}

.header-logo {
  img {
    height: 51px;
  }
}

.responsive-menu {
  position: absolute;
  right: 20px;
  top: 32px;

  .menu-icon {
    margin-bottom: 4px;
  }
}

.dropdown-menu {
  &__item {
    width: 100%;

    > a {
      font-family: $font-title-family;
      color: $color-typography-header-link !important;
      font-weight: normal;
      font-size: $font-small-size;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-right: 30px !important;
      padding-left: 0 !important;
    }
  }
}

.floating-menu {
  @include floating;
  background-color: $color-white !important;
  border-radius: 4px;
  width: 100%;
  position: initial;
  margin: 10px 0;
  min-width: 227px;

  &__item {
    padding: 15px 10px;

    > a {
      color: $color-typography-base;
      padding: 0;

      i {
        margin-right: 6px;
      }

      &:hover {
        color: $color-typography-base;
        font-weight: 500;
      }
    }
  }
}

@media screen and (min-width: $medium) {
  .top-bar-left {
    padding-left: 20px;
  }

  /* Reset*/
  .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    content: "";
    border: inset 6px;
    border-color: $color-white transparent transparent;
    border-bottom-width: 0;
    border-top-style: solid;
    margin-top: -3px;
  }

  .dropdown-menu__item {
    width: initial;
    > a {
      margin-right: 30px;
    }
  }
  .floating-menu {
    margin: 0;
    position: absolute;
  }
}

@media screen and (min-width: $large) {
  .header {
    position: fixed;
  }

  .top-bar {
    padding: 14.5px 0;
  }

  .top-bar-left {
    padding-left: 0;
  }

  .header-logo,
  .header-search-box {
    padding: 0 $spacing;
  }
}

@media screen and (min-width: $xlarge) {
  .header-logo,
  .header-search-box {
    padding: 0 $spacing-l;
  }
}

@media screen and (min-width: $xxlarge) {
  .header-logo {
    width: $side-nav-width;
    float: right;
  }
  .header-search-box {
    width: $secondary-side-nav-width;
    float: left;
  }
}
