.header {
  align-items: center;
  background-color: var(--card-bg);
  box-shadow: 0 2px 22px rgba(0,0,0, 0.1);
  display: flex;  
  flex-wrap: wrap;
  gap: $spacer-xs 0;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: $spacer-xs $spacer-sm;
  width: 100%;
  z-index: 99;

  @media screen and (min-width: $large) {
    padding: $spacer-sm $spacer;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  width: initial;

  &__img {
    width: 110px;
    background-image: url("../img/logo-scylla-horizontal-color.svg");
    background-position: center;
    background-repeat: no-repeat;

    img {
      opacity: 0;
    }

    @at-root .dark #{&} {
      background-image: url("../img/logo-scylla-horizontal-light.svg");
    }
  }

  &__bar {
    background-color: var(--text-color);
    border-left: 1px solid var(--text-color);
    height: 11.56px;
    margin: 0 7.5px;
    width: 0px;
  }

  &__text {
    color: var(--text-color);
    font-size: 10.11px;
    letter-spacing: 0.722408px;
    line-height: 12px;
    text-transform: uppercase;
  }
}

.header-navigation {
  display: none;
}

.header-button {
  margin-left: 15px;
  text-transform: uppercase;
  display: none;
}

.header-search-box {
  display: none;
  width: 200px;
}

.scylla-dropdown__content {
    background-color: var(--card-bg);
}

.scylla-dropdown--header {
  .scylla-dropdown__item {
    font-size: $font-sm;
  }
  .scylla-dropdown__title {
    text-transform: uppercase;

    .chevron {
      margin-left: 4px;
      font-size: 24px;
      line-height: .5em;
    }
  }
}

@media screen and (min-width: $large) {
  .header-logo {
    &__img {
      width: 152px;
    }

    &__bar {
      height: 16px;
      margin: 0 10px;
    }

    &__text {
      font-size: 14px;
      letter-spacing: 0.722408px;
      line-height: 12px;
      text-transform: uppercase;
    }
  }

  .header-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (min-width: $xlarge) {
  .header-logo {
    width: $side-nav-width - $spacer;
  }

  .header-search-box {
    max-width: 20%;
    width: $search-box-width;
  }

  .header-button {
    display: block;
  }
}
