.header {
  align-items: center;
  background-color: $color-background-header;
  box-shadow: 0px 2px 22px rgba(74, 93, 166, 0.15);
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 17px 0px;
  width: 100%;
  z-index: 99;
}

.header-logo {
  width: initial;

  &__img {
    padding: 0 $spacing;
    display: block;
  }
}

.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button {
  margin-left: 15px;
  text-transform: uppercase;
  display: none;
}

.header-search-box {
  margin-right: 30px;
  width: 200px;
}

.scylla-dropdown--header {
  .scylla-dropdown__item {
    font-size: $font-small-size;
  }
  .scylla-dropdown__title {
    text-transform: uppercase;

    .chevron {
      margin-left: 10px;
    }
  }
  .scylla-dropdown__content .scylla-icon {
    min-height: 20px;
    width: 20px;
  }
}

@media screen and (min-width: $xlarge) {
  .header-logo,
  #search-box {
    padding: 0 $spacing-l;
  }

  .header-logo {
    width: $side-nav-width;
  }

  .header-search-box {
    max-width: 20%;
    width: $search-box-width;
  }

  .header-button {
    display: block;
  }
}
