.hero {
  background: linear-gradient(180deg, #ffffff 0%, #f6f8ff 100%);
  margin-bottom: 30px;
  overflow: hidden;
  padding: 30px 16px;
  text-align: left;

  &__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 14px;
    max-width: 482px;
  }

  &__text {
    font-size: 18px;
    max-width: 482px;

    a {
      border-bottom: 1px $color-typography-topic-grid-title dotted;
      color: $color-typography-topic-grid-title;
    }

    p {
      margin-bottom: 0 !important;
    }
  }

  &__img {
    display: none;
    height: 216px;
    margin-bottom: 0 !important;
    opacity: 0.1;
  }

  &__button {
    text-transform: uppercase;
    margin-top: 20px;

    .icon {
      margin-right: 5px;
    }
  }
}

.hero-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
  position: relative;
}

@media screen and (min-width: $large) {
  .hero {
    padding: 60px 16px;

    &__img {
      display: block;
    }
  }

  .hero-wrapper {
    flex-direction: row-reverse;
  }

  .landing--floating .hero {
    padding: 30px 16px 120px 16px;
  }
}
