.hero {
  background: linear-gradient(180deg, #ffffff 0%, #f6f8ff 100%);
  margin-bottom: 30px;
  padding: 30px 16px;
  text-align: left;

  &__title {
    font-size: 32px;
    font-family: $font-base-family;
    font-weight: 500;
    margin-bottom: 14px;
    max-width: 482px;
  }

  &__text {
    font-size: 18px;

    a {
      border-bottom: 1px $color-typography-topic-grid-title dotted;
      color: $color-typography-topic-grid-title;
    }
  }
}

.hero-wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1300px;
}

@media screen and (min-width: $large) {
  .hero {
    padding: 60px 16px;
  }
}
