.label {
  border: 0;
  border-radius: 4px;
  background-color: var(--navigation-bg);
  color: var(--white);
  font-size: inherit;

  &--note {
    background-color: var(--info);
  }

  &--tip {
    background-color: var(--success);
  }

  &--caution {
    background-color: var(--warning);
  }

  &--warning {
    background-color: var(--danger);
  }
}
