.label {
  border: 0;
  border-radius: 4px;
  background-color: var(--color-background-label);
  color: var(--color-typography-label);
  font-size: inherit;

  &--note {
    background-color: var(--color-background-label-note);
  }

  &--tip {
    background-color: var(--color-background-label-tip);
  }

  &--caution {
    background-color: var(--color-background-label-caution);
  }

  &--warning {
    background-color: var(--color-background-label-warning);
  }
}
