.last-updated {
  margin: 10px 0;
  color: $color-typography-last-updated;
  font-size: $font-smallest-size;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  &__icon {
    font-size: $font-small-size !important;
  }
}

@media screen and (min-width: $large) {
  .last-updated {
    float: right;
    margin: 0;
  }
}
