.last-updated {
  margin: 10px 0;
  font-family: $font-title-family;
  color: $color-typography-last-updated;
  font-size: $font-base-smallest-size;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and #{breakpoint(large)} {
  .last-updated {
    float: right;
    margin: 0;
  }
}
