.latest-news {
  @include floating;
  display: none;
  padding: 40px $spacing;
  position: absolute;
  right: $spacing-l;
  top: 130px;
  width: 405px;
  word-wrap: break-word;

  &__title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  &__cards ul {
    height: 142px;
    list-style: none;
    margin: 0;
    overflow-y: auto;

    li {
      font-size: $font-small-size;
      min-height: 142px;

      p {
        margin-bottom: 5px;

        &:first-child {
          color: $color-typography-latest-news-text;
          font-size: $font-smallest-size;
          font-weight: 400;
          text-transform: capitalize;

          a {
            color: $color-typography-latest-news-title;
            display: block;
            font-size: $font-small-size;
            font-weight: 700;
            margin-top: 3px;
            text-transform: none;
          }
        }

        &:not(:first-child) {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:last-child {
          a em {
            border-bottom: 1px $color-typography-base-link dotted;
            font-style: normal;
          }
        }
      }

      &:before {
        display: none;
      }
    }
  }
}

@media screen and (min-width: $xxlarge) {
  .latest-news {
    display: block;
  }
}
