.not-found {
  height: 100%;
  overflow: hidden;
  background-color: #f6f8ff;

  &__icon {
    margin: 40px auto;
    display: block;
    max-width: 300px;
  }

  &__text {
    text-align: center;

    h1 {
      line-height: 1;
      font-size: 60px;
    }

    p {
      width: 100%;
      margin: 30px 0;
    }
  }
}
