.promo-banner {
  background-color: var(--header-border);
  background-image: url("../img/banner-background.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 900;

  &__icon {
    margin-right: 15px;
    img {
      height: 40px;
    }
  }

  &__title {
    color: var(--white);
    font-size: $font-xs;
    line-height: 16px;
    margin-right: 15px;
  }

  &__button {
    background: var(--white);
    color: var(--black);
    border-radius: 4px;
    font-size: $font-xs;
    min-width: max-content;
    padding: 5px;
  }

  &__close {
    background: none;
    border: none;
    padding: 0;
    margin-left: 16px;

    i {
      height: 20px;
      width: 20px;
      font-size: 20px;
      color: var(--white);
    }

    &:hover {
      filter: opacity(0.8);
      cursor: pointer;
    }
  }
}

.promo-banner-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5.85px 20px;
}

.promo-banner__content {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 1;
}

@media (min-width: $large) {
  .promo-banner {
    &__title {
      font-size: 18px;
      line-height: 23px;
    }

    &__button {
      font-size: $font-sm;
      padding: 8.5px;
    }

    &__close {
      margin: 0;

      i {
        height: 34px;
        width: 34px;
        font-size: 34px;
      }
    }
  }
  .promo-banner-wrapper {
    flex-direction: unset;
    padding: 16px;
  }
}
