@use "sass:map";
/* This stylesheet uses the !important operator
   to overwrite expertrec custom CSS rules.
*/

.search-box {
  background: var(--well-bg);
  border-radius: 4px;
  display: flex;
  padding: 10px 15px;

  &--hero {
    background-color: var(--well-bg);
    padding: 12px 14px;
  }

  &:before {
    content: map.get($icons, "search");
    @extend .icon;
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 18px;
    min-width: 18px;
    width: 20px;
  }

  ci-search,
  .er-dummy-search,
  .er-dummy-search-box,
  .er-search-form {
    width: 100% !important;
    margin: 0 !important;
  }

  input {
    background: transparent !important;
    color: var(--text-color) !important;
    font-size: $font-small !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;

    &::placeholder {
      color: var(--text-muted) !important;
      opacity: 1 !important;
    }
  }

  button {
    display: none !important;
  }
}

.er_search_suggestions {  
  border: 0 !important;
  background-color: var(--card-bg) !important;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 25px rgba(0, 0, 0, .15) !important;
  color: var(--text-muted);

  strong {
    color: var(--text-color);
  }

  .er-cse-suggest-query {
    border-bottom: 1px solid var(--border-color);
    padding: $spacer-xxs $spacer-sm !important;
  }

  .er-search-result-box {
    padding: 0 !important;
    border-bottom: 1px solid var(--border-color) !important;

    .text-container {
      padding: 0 !important;
      &>a {
        padding: $spacer-xs $spacer-sm;
        display: block;
      }
    }

    .er_highlight {
      color:  var(--text-emphasis) !important;
      border-bottom: 1px solid var(--primary) !important;
    }

    .title {
      color: var(--text-color) !important;
    }

    .text {
      color: var(--text-muted) !important;
    }

    &:hover {
      background: var(--well-bg) !important;
    }
  }

  .er_more_result_btn {
    cursor: pointer;
    color: var(--link-color) !important;
  }

  h3 {
    font-size: $font-base !important;
    
  }
}

/* Results page*/
.er-search-content {
  padding: $spacer !important;
  background-color: var(--bg-color) !important;
}

.er_search_results_count {
  color: var(--text-color) !important;
  border-bottom: 1px solid var(--border-color) !important;
}

.er-ecom-shimmer .er-shimmer, .er-cse-shimmer .er-shimmer {
    background-color: var(--well-bg) !important;
    background-image: linear-gradient(to right, var(--well-bg) 0%, var(--card-bg) 20%, var(--well-bg) 40%, var(--well-bg)00%) !important;
}

#er_search_results {

  h3.heading {
    color: var(--text-color) !important;
  }

  .er-search-result-box {
    margin: 0 auto !important;
    margin-top: 10px !important;
    display: block !important;
    width: 100% !important;
    border-bottom: var(--border-color);
    color: var(--text-muted);
  

    .er_highlight {
      color: var(--text-emphasis) !important;
      border-bottom: 1px solid var(--primary) !important;
    }

    .title {
      a {
        color: var(--link-color) !important;    
      }
    }

    .url a {
      color: var(--link-color) !important;
    }

    .text {
      color: var(--text-muted) !important;
    };

    .title a,
    .url a,
    .text {
      max-width: 100% !important;
    }
  }
}

#search-result-input-form {
  max-width: 800px !important;
  box-shadow: 0 4px 25px rgba(0, 0, 0, .15) !important;
}

#er_search_button {
  text-align: center;
  background-color: var(--card-bg) !important;
  color: var(--primary) !important;
}

#er_search_input {
  background-color: var(--well-bg) !important;
  color: var(--text-color) !important;
  margin: 0 !important;

  &::placeholder {
    color: var(--text-muted) !important;
    opacity: .5 !important;
  }
}

#er_clear_input {
  top: 0 !important;
  right: 0 !important;
  color: var(--text-color) !important;
}
.er_gcs_facet_ul {
    &::-webkit-scrollbar {
      width: 5px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--color-background-scrollbar);
      -webkit-border-radius: 8px;
      border-radius: 8px;
    }
}

.er-facet-header {
  color: var(--text-color) !important;
  background-color: transparent !important;
  border: 0 !important;
  padding: 0 !important;
  padding-bottom: 8px !important;
}

.er-facet-val {
  padding: 5px 2px !important;

  input {
    display: block !important;
    margin: 0;
  }

  label {
    color: var(--text-color) !important;
  }
}

#er_search_pagination {
  margin-top: 20px !important;

  li.er-paginator-list {
    color: var(--text-color) !important;
    &.er-active {
      border-bottom: 0 !important;
      font-weight: bold;
    }
  }
}

/* Mobile */
.er-suggestion-sm {
  .er_search_input_dummy {
    margin: 0 !important;
  }
  .er_search_button_dummy {
    border: 0 !important;
  }
}

#er_gcs_mobile_model_container .er-facet-values .er-facet-val {
  align-items: baseline;
}

@media screen and (min-width: $medium) {
  .er-facets {
    display: none;
    width: initial !important;
    min-width: initial !important;
    max-width: 300px !important;
  }
}

@media screen and (min-width: $large) {
  .er-suggestions {
    left: 15px !important;
  }
}

@media screen and (min-width: $xlarge) {
  .er-facets {
    display: block;
    position: fixed !important;
  }
  .er-facet-count {
    display: none;
  }
}
