#search-box {
  display: flex;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-left: 65px;
  width: 100%;
  height: 32px;

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-top: 2px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 20px;
    min-width: 20px;
    width: 20px;
    background-image: url("../img/icons/icon-search.svg");
  }

  ci-search,
  .er-dummy-search-box {
    width: 100%;
    overflow: hidden;
  }

  input {
    font-family: $font-title-family;
    font-size: $font-base-size;
    color: $color-white;
    background-color: transparent;
    max-width: 100%;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    width: 100%;

    &::placeholder {
      color: $color-white;
      opacity: 1;
    }
  }

  button {
    display: none !important;
  }
}

.er_search_suggestions {
  @include floating;
  border: 0 !important;

  .er-search-result-box {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-width: 1px !important;

    &:hover {
      background: $color-background-search-item-hover !important;
    }
  }

  .er_more_result_btn {
    cursor: pointer;
  }
}
