@use "sass:map";

.secondary-side-nav {
  display: none;
  line-height: 24px;
  padding: 20px;
  width: 100%;

  &__content {
    overflow-wrap: break-word;
    word-break: break-word;

    ul {
      margin: 0;
      list-style: none;
    }

    li {
      border-bottom: 1px solid var(--border-color);
      display: none;
      padding: 10px 0;
      word-break: break-word;

      &:last-child {
        border: 0;
      }

      .label {
        display: none;
      }

      code {
        background: none;
      }

      a {
        align-items: baseline;
        color: var(--text-muted);
        display: flex;
        font-size: $font-sm;

        &:before {
          content: map.get($icons, "docs-chevron-right");
          @extend .icon;
          flex-shrink: 0;
          opacity: 0.5;
          min-height: 10px;
          font-size: 8px;
          margin-right: 10px;
        }

        &:hover {
          font-weight: 400;
          color: var(--text-color);

          &:before {
            opacity: 1;
          }
        }
      }

      &.current > a {
        font-weight: 700;
        color: var(--text-color);

        &:before {
          opacity: 1;
        }

        code .pre {
          font-weight: 700;
        }
      }
    }

    // Level 2: Always visible
    > ul > li {
      border: 0;
      display: block;

      > a {
        display: none;
      }

      > ul > li {
        display: block;
      }
    }

    // Level 3 and 4: Show when parent is active
    > ul > li > ul > li {
      > ul {
        display: none;

        > li {
          padding: 4px 0 4px 16px;
          border-bottom: none;
        }
      }

      &.active > ul {
        display: block;

        > li {
          display: block !important;

          > ul {
            display: none;

            > li {
              padding: 4px 0 4px 28px;
              border-bottom: none;
            }
          }

          &.active > ul {
            display: block;

            > li {
              display: block !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $xlarge) {
  .secondary-side-nav {
    display: block;
    overflow-y: auto;
    padding: $spacer-md $spacer;
    padding-left: 0;
    position: sticky;
    max-height: 100vh;
    max-height: calc(100vh - #{$header-height-large});
    top: $header-height-large;
    width: $secondary-side-nav-width;
  }

  .layout--has-banner .secondary-side-nav {
    max-height: calc(100vh - #{$promo-banner-header-height-large});
  }
}
