@use "sass:map";
@use "sass:math";

.sidebar-left {
  background: var(--navigation-bg);
  display: flex;
  flex-direction: column;
}

.side-nav {
  display: none;
  background: var(--navigation-bg);
  max-height: calc(100vh - #{$header-height});
  line-height: 24px;
  overflow-y: auto;
  position: fixed;
  padding: 0;
  top: $header-height;
  left: 0;
  width: 100%;
  z-index: 100;

  @media screen and (min-width: $large) {
    position: sticky;
    flex-grow: 1;
  }

  &__title {
    position: sticky;
    top: 0;
    z-index: 100;

    a {
      background-color: var(--brand-product);
      height: $product-title-height;
      font-weight: 300;
      font-size: 20px;
      text-decoration: none;
      display: flex;
      align-items: center;
      color: var(--brand-text);
      padding: $spacer-xs $spacer;

      &:hover {
        filter: brightness(105%);
        
      }
    }
  }

  &__content {
    overflow-wrap: break-word;
    max-width: 90%;
    padding: $spacer-sm $spacer-xs;

    a {
      display: block;
      line-height: 1.3em;
      padding: $spacer-xxs $spacer-3xs;
    }

    .toctree-l1 {
 
        &:not(.has-children) {
          &>a{
            margin-left: $spacer;
          }
        }
        
      a { 
        font-size: 16px;
        font-weight: 500;
      }
    }

    .toctree-l2 {
      a {
        font-size: 14px;
        font-weight: 400;
      }

      label {
        width: $spacer-sm;
        height: $spacer-sm;
        font-size: 14px;
        
      }

      ul {
        margin-left: math.div($spacer-sm, 2);
        padding-left: math.div($spacer-sm, 2);
        border-left-color: var(--border-color);
      }
    }

    .toctree-l3 {

    }

    .toctree-l1, .toctree-l2 {
      a {
        order: 2;
        flex-grow: 1;
      }

      label {
        order: 1;
      }

      ul {
        order: 3;
      }

      &:not(.has-children) {
        padding-left: $spacer-sm;
      }
    }

    /* Override icons extension */
    label,
    label i {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
    }

    label {
      font-size: 22px;
      line-height: 1;
      width: $spacer;
      height: $spacer;
      color: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      i {
        transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
      }

      &:hover {
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: var(--card-bg);
          z-index: -1;
          border-radius: $spacer;
        }
      }
    }

    .toctree-checkbox {
      position: absolute;
      right: 20px;
      display: none;

      ~ ul {
        display: none;
        margin-right: 20px;
      }

      &:checked {
        ~ ul {
          display: flex;
        }

        + label {
          i {
            transform: rotate(90deg);
          }
        }
      }
    }

    /* Override autogenerated toctree by Sphinx */
    ul {
      margin: 0;
      gap: $spacer-sm;
      display: flex;
      flex-direction: column;
    }

    a:not(.current) {
      color: var(--text-color);

      &:hover {
        color: var(--link-color-hover);
      }
    }

    li {
      list-style: none;
      padding: 0;
      

      &.has-children {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        & > a {
          /* 100% - icon size */
          max-width: calc(100% - $spacer);
        }

        &.current {

        }

        &:hover {
          color: var(--link-color-hover);
        }
      }

      &.current-page {
          color: var(--link-color);
      }

      ul {
        width: 100%;
        border-left: 1px solid var(--link-color);
        margin-left: math.div($spacer, 2);
        padding-left: math.div($spacer, 2);
        gap: $spacer-3xs;

        li {
          padding: 0;
        }

        ul {
          margin-left: 0;
        }
      }

      .label {
        display: none;
      }
    }
  }

  &__versions {
    padding: $spacer-xs;
    padding-bottom: 0;
  }

  &__search {
    padding: $spacer-xs;
    padding-bottom: 0;
    .search-box {
      background-color: var(--well-bg);
      border: 1px solid var(--primary);
    }
  }
}

.collapsible-button {
  @include floating;
  background-color: var(--card-bg);
  color: var(--text-color);
  border-radius: 50%;
  display: none;
  font-size: 0px;
  bottom: $spacer-sm;
  right: $spacer-sm;
  padding: 13.5px;
  position: absolute;
  cursor: pointer;

  i {
    font-size: 20px;
    display: block;
  }
}

.side-nav--collapsed .collapsible-button {
  left: -10px;
  right: auto;
  border-radius: 0 30px 30px 0;

  i {
    transform: rotate(180deg);
  }
}

.layout--has-banner .side-nav {
  max-height: calc(100vh - #{$promo-banner-header-height});
}

@media screen and (min-width: $large) {
  .side-nav {
    display: flex;
    flex-direction: column;
    background-color: var(--navigation-bg);
    max-height: calc(100vh - #{$header-height-large});
    top: $header-height-large;
    left: initial;
    width: $secondary-side-nav-width;
    z-index: 25;

    &__content {
      max-width: 100%;
    }

    &__search {
      display: none;
    }

    &__versions {
      max-width: 100%;
    }
  }

  .toctree-checkbox {
    right: 40px;
  }

  .layout--has-banner .side-nav {
    max-height: calc(100vh - #{$promo-banner-header-height-large});
  }
}

.side-nav-content {
  background: radial-gradient(100% 100px at top center, var(--brand-product) 0px, transparent 100%);
}

@media screen and (min-width: $xlarge) {
  .side-nav {
    width: $side-nav-width;
    
    .side-nav-content {
      height: 0;
      flex-grow: 1;
      overflow-y: auto;
    }

    &--collapsed {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      width: $side-nav-width-collapsed;
      overflow: visible;

      .side-nav-content {
        display: none;
      }
    }
  }

  .collapsible-button {
    display: block;
  }
}

.dark-theme-toggler {
  cursor: pointer;
  font-size: 22px;
}