.side-nav {
  display: none;
  background-color: $color-background-sidebar;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &__content {
    overflow-wrap: break-word;

    a {
      color: $color-typography-base;
      &:hover {
        color: $color-typography-base-link;
      }
    }

    ul {
      margin: 0;
    }

    li {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      padding-bottom: 18px;

      > a {
        flex: 1;
      }

      &.current {
        > a {
          font-weight: 700;
          color: $color-typography-base-link;
        }

        a.current {
          color: $color-typography-base-link;
        }
      }

      > label {
        height: 0;
        flex: 0;
        float: right;
      }

      ul {
        width: 100%;
        margin-top: 20px;
        li {
          padding: 4px 0 4px 10px;
        }

        ul {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (min-width: $large) {
  .side-nav {
    display: block;
    z-index: 25;
    width: inherit;
    height: 100%;
    top: $header-height;
    max-height: 100vh;
    max-height: calc(100vh - 80px);

    &-wrapper {
      padding-bottom: 0 !important;
    }

    &__content {
      padding-bottom: $footer-height;
    }
  }

  .side-nav-toggle {
    display: none;
  }
}

.side-nav-wrapper {
  padding: $spacing;
}

@media screen and (min-width: $xlarge) {
  .side-nav-wrapper {
    padding: 30px $spacing-l;
  }

  .toctree-checkbox {
    right: $spacing-l;
  }
}

@media screen and (min-width: $xxlarge) {
  .side-nav-wrapper {
    width: $side-nav-width;
    float: right;
  }
}

.side-nav-toggle {
  display: block;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  width: 60px;
  height: 34px;
  background: $color-background-sidebar-button;
  border: 1px solid $color-border-sidebar-button;
  border-radius: 4px;
  z-index: 150;
  text-align: center;

  &__button {
    font-size: 30px;
    color: $color-typography-sidebar-button;
    &--closed {
      background: $color-typography-sidebar-button;
      -webkit-box-shadow: 0 7px 0 $color-typography-sidebar-button,
        0 14px 0 $color-typography-sidebar-button;
      box-shadow: 0 7px 0 $color-typography-sidebar-button,
        0 14px 0 $color-typography-sidebar-button;
      position: relative;
      display: block;
      width: 20px;
      height: 2px;
      margin: 0 auto;
      margin-top: 8px;
    }
  }

  &[aria-expanded="true"] .side-nav-toggle__button--closed {
    display: none;
  }

  &[aria-expanded="false"] .side-nav-toggle__button--open {
    display: none;
  }
}

/* Override custom navigation extension */
.side-nav__content {
  label,
  label i {
    padding: 0;
    margin: 0;
  }

  label .scylla-icon {
    min-height: 14px;
    width: 8px;
    filter: invert(81%) sepia(20%) saturate(128%) hue-rotate(177deg)
      brightness(90%) contrast(89%);
  }

  .toctree-checkbox {
    position: absolute;
    right: $spacing;
    display: none;

    ~ ul {
      display: none;
    }

    &:checked {
      ~ ul {
        display: block;
      }
      ~ label i {
        margin-top: 5px;
        transform: rotate(90deg);
      }
    }
  }

  li.current .toctree-checkbox:checked ~ label i {
    filter: invert(38%) sepia(71%) saturate(6789%) hue-rotate(231deg)
      brightness(90%) contrast(95%);
  }
}
