.side-nav-toggle {
  cursor: pointer;
  display: flex;
  gap: 10px;
  font-size: 22px;
  position: relative;
  z-index: 1000;
}

@media screen and (min-width: $large) {
  .side-nav-toggle {
    display: none;
  }
}
