@use "sass:map";

.side-nav {
  display: none;
  background: var(--navigation-bg);
  height: 100vh;
  max-height: calc(100vh - #{$header-height});
  line-height: 24px;
  overflow-y: auto;
  position: fixed;
  padding: 20px;
  padding-bottom: 0;
  top: $header-height;
  left: 0;
  width: 100%;
  z-index: 100;

  &__title {
    font-weight: bold;
    margin-bottom: 20px;

    a {
      text-decoration: none;
      color: var(--text-color);

      &:hover {
        font-weight: bold;
      }
    }
  }

  &__content {
    overflow-wrap: break-word;
    max-width: 90%;

    /* Override icons extension */
    label,
    label i {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
    }

    label {
      font-size: 22px;
      line-height: 1;
      width: 12px;
      color: inherit;
    }

    .scylla-icon--expand {
      height: 5px;
      width: 10px;
      vertical-align: top;
      @extend .icon;
      content: map.get($icons, "docs-dropdown");
    }

    .toctree-checkbox {
      position: absolute;
      right: 20px;
      display: none;

      ~ ul {
        display: none;
        margin-right: 20px;
      }

      &:checked {
        ~ ul {
          display: block;
        }
      }
    }

    /* Override autogenerated toctree by Sphinx */
    ul {
      margin: 0;
    }

    a:not(.current) {
      color: var(--text-color);

      &:hover {
        color: var(--link-color-hover);
        font-weight: 400;
      }
    }

    li {
      list-style: none;
      padding: 0;
      padding-bottom: 24px;

      &.has-children {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        & > a {
          /* 100% - icon size */
          max-width: calc(100% - 15px);
        }

        &.current {
          padding-bottom: 20px;
        }

        &:hover {
          color: var(--link-color-hover);
        }
      }

      &.current-page {
          color: var(--link-color);
      }

      ul {
        width: 100%;
        margin-top: 18px;

        li {
          border-left: 1px solid var(--link-color);
          padding: 4px 0 4px 13px;
        }

        ul {
          margin-left: 0;
        }
      }

      .label {
        display: none;
      }
    }
  }

  &__versions {
    max-width: 90%;

    .dropdown {
      margin-bottom: 20px;
    }
  }

  &__search {
    margin-bottom: 20px;
  }
}

.collapsible-button {
  @include floating;
  background-color: var(--card-bg);
  color: var(--text-color);
  border-radius: 50%;
  bottom: 10px;
  display: none;
  font-size: 0px;
  left: 300px;
  padding: 13.5px;
  position: fixed;
  cursor: pointer;

  i {
    font-size: 20px;
    display: block;
  }
}

.side-nav--collapsed .collapsible-button {
  left: -10px;
  border-radius: 0 30px 30px 0;

  i {
    transform: rotate(180deg);
  }
}

.layout--has-banner .side-nav {
  max-height: calc(100vh - #{$promo-banner-header-height});
}

@media screen and (min-width: $large) {
  .side-nav {
    display: block;
    background-color: var(--navigation-bg);
    height: 100%;
    max-height: calc(100vh - #{$header-height-large});
    padding: 30px 40px;
    top: $header-height-large;
    left: initial;
    width: $secondary-side-nav-width;
    z-index: 25;

    &__content {
      max-width: 100%;
    }

    &__search {
      display: none;
    }

    &__versions {
      max-width: 100%;
    }
  }

  .toctree-checkbox {
    right: 40px;
  }

  .layout--has-banner .side-nav {
    max-height: calc(100vh - #{$promo-banner-header-height-large});
  }
}

@media screen and (min-width: $xlarge) {
  .side-nav {
    width: $side-nav-width;

    &--collapsed {
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      width: $side-nav-width-collapsed;

      .side-nav-content {
        display: none;
      }
    }
  }

  .collapsible-button {
    display: block;
  }
}

.dark-theme-toggler {
  cursor: pointer;
  font-size: 22px;
}