.table-wrapper {
  border-radius: 4px;
  border: 1px solid $color-border-table;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  display: block;
  max-width: 100%;
  overflow-x: auto;
  margin-bottom: $gap;
}

table {
  color: $color-typography-table-body;
  font-size: $font-small;
  line-height: 24px;
  margin: 0;
  overflow: hidden;

  p {
    margin: 0 !important;
  }

  thead {
    background: $color-background-table;
    border: 0;
    border-bottom: 1px solid $color-border-table-header;

    th {
      color: $color-typography-table-header;
      font-size: $font-small;
      font-weight: 500;
    }
  }

  thead th,
  td {
    padding: 20px 25px;
  }

  tbody {
    tr {
      background-color: transparent !important;
      border-top: 1px solid $color-border-table;
      line-height: 18px;
    }
  }

  &:not(.highlighttable) {
    tbody tr:first-child {
      border-top: 1px solid $color-border-table-header;
    }
  }

  &.thead-border {
    thead {
      .row-odd th {
        color: $color-typography-table-header-bold;
      }

      .row-even th {
        font-weight: 400;
      }

      th {
        border: 1px solid $color-border-table;
      }

      tr:first-child th {
        border-top: none;
      }

      tr:last-child th {
        border-bottom: none;
      }

      tr th:first-child {
        border-left: none;
      }

      tr th:last-child {
        border-right: none;
      }
    }
  }
}
