.contents.local {
  > ul {
    margin-bottom: $gap;
    margin-left: 0;

    > li {
      border-bottom: 1px solid rgba(90, 94, 154, 0.1);
      padding: 10px 0;
      word-break: break-word;

      &:before {
        content: "";
      }

      &:last-child {
        border: 0;
      }

      ul {
        display: none;
      }

      p {
        margin: 0;
      }

      a {
        font-size: $font-sm;

        &:before {
          content: "";
          @extend .scylla-icon;
          @extend .scylla-icon--chevron-right;
          filter: invert(38%) sepia(71%) saturate(6789%) hue-rotate(231deg) brightness(90%) contrast(95%) !important;
          opacity: 0.5;
          min-height: 10px;
          width: 10px;
          margin-right: 10px;
        }

        &:hover,
        &.current {
          &:before {
            opacity: 1;
            filter: brightness(0);
          }
        }
      }
    }
  }
}

.topic-title {
  color: var(--text-muted);
  font-size: 10px;
  margin-bottom: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}


