.contents.local {
  > ul {
    margin-bottom: 30px;
    margin-left: 0;

    > li {
      padding: 10px 0;
      border-bottom: 1px solid $color-border-toc-local-li;

      &:before {
        content: "";
      }

      ul {
        display: none;
      }

      p {
        margin: 0;
      }

      a {
        font-family: $font-title-family;
        font-size: $font-small-size;
        color: $color-typography-toc-link;

        &:before {
          content: "";
          @extend .scylla-icon;
          @extend .scylla-icon--chevron-right;
          opacity: 0.5;
          min-height: 12px !important;
          height: 12px;
          filter: invert(40%) sepia(11%) saturate(2157%) hue-rotate(198deg)
            brightness(89%) contrast(87%) !important;
        }

        &:hover {
          font-weight: 700;
        }
      }
    }
  }
}

.topic-title {
  text-transform: uppercase;
  font-family: $font-title-family;
  font-size: 10px;
  letter-spacing: 1.5px;
  color: $color-typography-on-this-page;
}
