.tooltip {
  background-color: $color-background-tooltip;
  border-radius: 4px;
  font-size: $font-smallest;
  padding: 6px;
  border: 0;
  max-width: 50%;
}

.tooltip:before {
  display: none !important;
}

.tooltip:empty {
  display: none !important;
}

.has-tip {
  border: 0;
  cursor: pointer;
}

.content .has-tip {
  font-weight: inherit;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.content .has-tip .scylla-icon {
  height: 14px;
  width: 14px;
}

