.topics-grid {
  padding: $spacing;

  &__title {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 600;
  }

  &__text {
    font-size: 18px;
    color: $color-typography-topic-grid-heading;
    margin-bottom: 60px !important;
  }
}

.topic-box {
  display: block;
  text-align: center;
  padding: 20px;
  max-width: 245px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: $font-base-small-size;
  color: $color-typography-base;

  .topic-box-title {
    font-weight: 600;
    color: $color-typography-topic-grid-heading;
    font-size: 18px;
    margin-bottom: 0;
  }

  .topic-box-icon {
    font-size: 50px;
    margin-bottom: 20px;
    display: block;

    img {
      margin: 0;
      height: 115px;
    }
  }

  .topic-box-body {
    p {
      margin: 0;
    }
  }

  &:hover {
    @include floating;
    border-radius: 4px;
    color: $color-typography-base;
    font-weight: 400;
  }
}

@media screen and (min-width: $medium) {
  .topics-grid {
    padding: $spacing-l;
  }
}
