.topics-grid {
  display: block;
  margin: 0 auto;
  max-width: 1300px !important;
  margin-bottom: 30px;

  &__title {
    color: $color-typography-topic-grid-title;
    font-size: 24px;
    margin-bottom: 6px;
    font-weight: 700;
  }

  &__text {
    font-size: 18px;
    color: $color-typography-topic-grid-text;
  }
}

.topic-box {
  .card {
    @include floating;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
    padding: 45px 30px;
    font-size: 18px;

    &:hover {
      color: $color-typography-base;
      font-weight: 400;
    }
  }

  &__title {
    font-weight: 700;
    color: $color-typography-topic-title;
    font-size: 20px;
    margin-bottom: 0;
    line-height: 32px;
  }

  &__body {
    color: $color-typography-topic-text;

    .container,
    p {
      margin: 0;
      padding: 0;
    }

    p {
      margin-top: 10px;

      &:nth-child(2) {
        font-size: 20px;
        font-weight: 700;
        color: $color-typography-topic-link;
      }
    }
  }

  &--product .card {
    box-shadow: none;
    padding: 20px;
    min-height: 261px;
    text-align: center;

    .topic-box__title {
      color: $color-typography-base;
      font-size: 18px;
      line-height: 32px;
    }

    .topic-box__body {
      font-size: $font-small-size;
      line-height: 24px;
    }

    .topic-box__icon {
      display: block;
      font-size: 50px;
      margin-bottom: 20px;

      i {
        filter: brightness(0);
        min-height: 50px;
        width: 50px;
      }

      img {
        height: 115px;
        margin: 0;
      }
    }

    &:hover {
      @include floating;
    }
  }
}

@media screen and (min-width: $medium) {
  .topics-grid {
    margin-bottom: 70px;
  }
}
