.versions-dropdown {
  position: relative;
  margin-bottom: 30px;

  &__button {
    width: 100%;
    background: $color-white;
    border: 0;
    border-radius: $round;
    cursor: pointer;
    text-align: left;
    padding: 15px;

    i {
      float: right;
      margin: 0;
    }
  }

  &__content {
    display: none;
    @include floating;
    position: absolute;
    list-style-type: none;
    margin: 5px 0 0 0;
    z-index: 10;
    width: 100%;
    cursor: pointer;
    text-align: left;

    li {
      display: block;
      padding: 15px;
    }

    li:hover a {
      font-weight: 700;
    }
  }

  &:hover .versions-dropdown__content {
    display: block;
  }

  &--single {
    &:hover {
      .versions-content {
        display: none;
      }
    }
    .versions-dropdown__button {
      cursor: initial;
      outline: none;

      i {
        display: none;
      }
    }
  }
}
