.secondary-side-nav {
  height: 100%;

  &-wrapper {
    padding: $spacing;
  }

  &__content {
    overflow-wrap: break-word;

    ul {
      list-style: none;
      margin: 0;
    }

    li {
      display: none;
      padding: 10px 0;
      border-bottom: 1px solid $color-border-toc-local-li;
      word-break: break-word;

      a {
        font-family: $font-title-family;
        font-size: $font-small-size;
        color: $color-typography-toc-link;

        &:before {
          content: "";
          @extend .scylla-icon;
          @extend .scylla-icon--chevron-right;
          opacity: 0.5;
          min-height: 12px !important;
          height: 12px;
          filter: invert(40%) sepia(11%) saturate(2157%) hue-rotate(198deg)
            brightness(89%) contrast(87%) !important;
        }

        &:hover,
        &.current {
          font-weight: 700;

          &:before {
            opacity: 1;
          }
        }
      }
    }
    // Show H2 level
    > ul > li > ul > li {
      display: flex;
      align-items: center;
    }

    // Hide page title
    > ul > li {
      display: block;
      border: 0;

      > a {
        display: none;
      }
    }
  }
}

@media screen and (min-width: $large) {
  .secondary-side-nav {
    position: fixed;
    top: $header-height;
    width: inherit;
    overflow-y: auto;
    max-height: 100vh;
    max-height: calc(100vh - 80px);

    &__content {
      padding-bottom: $footer-height;
    }
  }
}

@media screen and (min-width: $xlarge) {
  .secondary-side-nav-wrapper {
    padding: $spacing-l;
  }
}

@media screen and (min-width: $xxlarge) {
  .secondary-side-nav-wrapper {
    width: $secondary-side-nav-width;
    float: left;
  }
}
