.secondary-side-nav {
  height: 100%;
}

.secondary-side-nav-content {
  padding: $spacing;
  overflow-wrap: break-word;

  ul {
    list-style: none;
    margin: 0;
  }

  li {
    display: none;
    padding: 10px 0;
    border-bottom: 1px solid $color-border-toc-local-li;
    &:before {
      font-family: $font-icons-family;
      font-display: swap;
      color: $color-typography-bullet;
      font-weight: bold;
      float: left;
      font-size: 20px;
      width: 1em;
      content: "\f105";
      margin: 0;
    }

    a {
      font-family: $font-title-family;
      font-size: $font-small-size;
      color: $color-typography-toc-link;

      &:hover,
      &.current {
        font-weight: 600;
      }
    }
  }
  // Show H2 level
  > ul > li > ul > li {
    display: block;
  }

  // Hide page title
  > ul > li {
    display: block;
    &:before {
      display: none;
    }
    border: 0;

    > a {
      display: none;
    }
  }
}

@media screen and (min-width: $large) {
  .secondary-side-nav {
    position: fixed;
    top: $header-height;
    width: inherit;
    overflow-y: auto;
    max-height: 100vh;
    max-height: calc(100vh - 80px);
  }
  .secondary-side-nav-content {
    padding-bottom: $footer-height !important;
  }
}

@media screen and (min-width: $xlarge) {
  .secondary-side-nav-content {
    padding: $spacing-l;
  }
}

@media screen and (min-width: $xxlarge) {
  .secondary-side-nav-content {
    width: $secondary-side-nav-width;
    float: left;
  }
}
