.secondary-sidenav {
  padding: $spacing;
  height: 100%;
  overflow-wrap: break-word;

  > ul {
    list-style: none;
    margin: 0;

    > li {
      > a {
        display: none;
      }

      > ul {
        margin: 0;

        li {
          display: none;
        }

        > li {
          display: block;
          padding: 10px 0;
          border-bottom: 1px solid $color-border-toc-local-li;

          &:before {
            font-family: $font-icons-family;
            font-display: swap;
            color: $color-typography-bullet;
            font-weight: bold;
            float: left;
            font-size: 20px;
            width: 1em;
            content: "\f105";
            margin: 0;
          }

          a {
            font-family: $font-title-family;
            font-size: $font-small-size;
            color: $color-typography-toc-link;

            &:hover,
            &.current {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $large) {
  .secondary-sidenav {
    position: fixed;
    top: $header-height;
    width: inherit;
    overflow-y: auto;
    max-height: 100vh;
    padding-bottom: $footer-height !important;
    max-height: calc(100vh - 83px);
  }
}

@media screen and (min-width: $xxlarge) {
  .secondary-sidenav {
    padding: $spacing-l;
  }
}
