/* Color names from https://chir.ag/projects/name-that-color */

$color-white: #fff;
$color-black: #000;
$color-mine-shaft: #333;
$color-ebony-clay: #23263b;
$color-royal-blue: #3c4fe0;
$color-san-marino: #4458a3;
$color-piction-blue: #42c4e6;
$color-cadet-blue: #b3bac5;
$color-porcelain: #f7f8f9;
$color-waikawa-gray: #5a5e9a;
$color-east-bay: #484c7a;
$color-lavender-gray: #b6b7d5;
$color-blue-bell: #9698c3;
$color-zircon: #f6f8ff;
$color-dusty-gray: #979797;
$color-blue-bayoux: #5a7184;
$color-milano-red: #b92500;
$color-apple: #43a047;
$color-fiord: #42526e;
$color-web-orange: #ffab00;
$color-deep-cove: #061938;
$color-dodger-blue: #5468ff;

$color-typography-admonition-caution: $color-deep-cove;
$color-typography-admonition-note: $color-white;
$color-typography-admonition-tip: $color-white;
$color-typography-admonition-warning: $color-white;
$color-typography-base: $color-ebony-clay;
$color-typography-base-link: $color-royal-blue;
$color-typography-breadcrumbs: $color-ebony-clay;
$color-typography-button: $color-white;
$color-typography-bullet: $color-cadet-blue;
$color-typography-code: $color-east-bay;
$color-typography-code-line-number: $color-blue-bayoux;
$color-typography-content-navigation-button: $color-black;
$color-typography-content-navigation-next: $color-san-marino;
$color-typography-contribute-dropdown: $color-ebony-clay;
$color-typography-footer-link: $color-mine-shaft;
$color-typography-footer-icon: $color-black;
$color-typography-footer-copyright: $color-dusty-gray;
$color-typography-header-link: $color-white;
$color-typography-last-updated: $color-san-marino;
$color-typography-latest-news-text: $color-waikawa-gray;
$color-typography-latest-news-title: $color-ebony-clay;
$color-typography-menu-item: $color-waikawa-gray;
$color-typography-on-this-page: $color-blue-bell;
$color-typography-panel-grid-title: $color-ebony-clay;
$color-typography-panel-grid-link: $color-waikawa-gray;
$color-typography-sidebar-button: $color-mine-shaft;
$color-typography-table-header: $color-dodger-blue;
$color-typography-table-body: $color-waikawa-gray;
$color-typography-topic-grid-title: $color-waikawa-gray;
$color-typography-toc-link: $color-waikawa-gray;

$color-background-admonition-caution: $color-web-orange;
$color-background-admonition-note: $color-fiord;
$color-background-admonition-tip: $color-apple;
$color-background-admonition-warning: $color-milano-red;
$color-background-button: $color-piction-blue;
$color-background-code: transparentize($color-cadet-blue, 0.9);
$color-background-footer: $color-white;
$color-background-header: $color-san-marino;
$color-background-not-found: $color-zircon;
$color-background-panel: $color-porcelain;
$color-background-search-item-hover: $color-porcelain;
$color-background-sidebar: $color-zircon;
$color-background-sidebar-button: $color-porcelain;

$color-border-blockquote: transparentize($color-lavender-gray, 0.9);
$color-border-footer-top: transparentize($color-black, 0.9);
$color-border-sidebar-ul: transparentize($color-lavender-gray, 0.6);
$color-border-sidebar-button: $color-royal-blue;
$color-border-toc-local-li: transparentize($color-waikawa-gray, 0.9);
$color-border-panel-grid: $color-san-marino;
