/* Color names from https://chir.ag/projects/name-that-color */

$color-white: #fff;
$color-black: #000;
$color-mine-shaft: #333;
$color-ebony-clay: #23263b;
$color-martinique: #3a2d55;
$color-royal-blue: #3c4fe0;
$color-san-marino: #4458a3;
$color-piction-blue: #42c4e6;
$color-cadet-blue: #b3bac5;
$color-porcelain: #f7f8f9;
$color-waikawa-gray: #5a5e9a;
$color-east-bay: #484c7a;
$color-lavender-gray: #b6b7d5;
$color-blue-bell: #9698c3;
$color-zircon: #f6f8ff;
$color-dusty-gray: #979797;
$color-blue-bayoux: #5a7184;
$color-apple: #43a047;
$color-cinnabar: #e74c3c;
$color-web-orange: #ffab00;
$color-denim: #1976d2;
$color-deep-cove: #061938;
$color-dodger-blue: #2196f3;
$color-alto: #e0e0e0;
$color-selago: #f2f7fe;
$color-typography-admonition-title: $color-ebony-clay;
$color-typography-admonition-text: transparentize($color-black, 0.44);
$color-typography-banner-title: $color-white;
$color-typography-base: $color-ebony-clay;
$color-typography-base-link: $color-royal-blue;
$color-typography-breadcrumbs: $color-ebony-clay;
$color-typography-button: $color-martinique;
$color-typography-bullet: $color-cadet-blue;
$color-typography-code: $color-east-bay;
$color-typography-code-line-number: $color-blue-bayoux;
$color-typography-content-navigation-text: $color-ebony-clay;
$color-typography-content-navigation-next: $color-piction-blue;
$color-typography-dropdown: $color-martinique;
$color-typography-footer-link: $color-mine-shaft;
$color-typography-footer-icon: $color-black;
$color-typography-footer-copyright: $color-dusty-gray;
$color-typography-header-link: $color-ebony-clay;
$color-typography-icon-checkmark: $color-piction-blue;
$color-typography-last-updated: $color-san-marino;
$color-typography-latest-news-text: $color-waikawa-gray;
$color-typography-latest-news-title: $color-ebony-clay;
$color-typography-menu-item: $color-waikawa-gray;
$color-typography-on-this-page: $color-blue-bell;
$color-typography-panel-grid-title: $color-ebony-clay;
$color-typography-panel-grid-link: $color-waikawa-gray;
$color-typography-sidebar-button: $color-mine-shaft;
$color-typography-tabs-title: transparentize($color-black, 0.44);
$color-typography-tabs-title-active: $color-dodger-blue;
$color-typography-table-header: transparentize($color-black, 0.44);
$color-typography-table-body: $color-black;
$color-typography-topic-grid-title: $color-ebony-clay;
$color-typography-topic-grid-text: $color-san-marino;
$color-typography-topic-title: $color-ebony-clay;
$color-typography-topic-text: $color-black;
$color-typography-topic-link: $color-piction-blue;
$color-typography-toc-link: $color-cadet-blue;
$color-typography-toc-link-active: $color-ebony-clay;

$color-background-banner: $color-san-marino;
$color-background-code: transparentize($color-cadet-blue, 0.9);
$color-background-dropdown-contribute: $color-selago;
$color-background-footer: $color-white;
$color-background-header: $color-white;
$color-background-not-found: $color-zircon;
$color-background-panel: $color-porcelain;
$color-background-search-item-hover: $color-porcelain;
$color-background-sidebar: $color-zircon;
$color-background-sidebar-button: $color-porcelain;

$color-border-admonition-caution: $color-web-orange;
$color-border-admonition-note: $color-denim;
$color-border-admonition-tip: $color-apple;
$color-border-admonition-warning: $color-cinnabar;
$color-border-button: $color-martinique;
$color-border-blockquote: transparentize($color-lavender-gray, 0.9);
$color-border-dropdown-contribute: $color-waikawa-gray;
$color-border-footer-top: transparentize($color-black, 0.9);
$color-border-sidebar-ul: transparentize($color-lavender-gray, 0.6);
$color-border-sidebar-button: $color-royal-blue;
$color-border-tabs: transparentize($color-black, 0.44);
$color-border-tabs-active: $color-dodger-blue;
$color-border-table: $color-alto;
$color-border-toc-local-li: transparentize($color-waikawa-gray, 0.9);
$color-border-panel-grid: $color-san-marino;
