$gap: 30px;
$round: 8px;
$spacing: 20px;
$spacing-l: 40px;
$banner-height: 67px;
$header-height: 80px;
$footer-height: 193px;
$side-nav-width: 357px;
$secondary-side-nav-width: 286px;
$search-box-width: 318px;
$full-width: 1188px;
