$footer-height: 193px;
$gap: 30px;
$header-height: 50px;
$header-height-large: 80px;
$max-content-width: 1440px;
$max-footer-width: 1030px;
$max-full-width: 1190px;
$promo-banner-height: 42.5px;
$promo-banner-height-large: 70px;
$promo-banner-header-height: $promo-banner-height + $header-height;
$promo-banner-header-height-large: $promo-banner-height-large +
  $header-height-large;
$round: 8px;
$search-box-width: 318px;
$secondary-side-nav-width: 286px;
$side-nav-width: 357px;
