$font-base-family: "Roboto", sans-serif;
$font-icons-family: "FontAwesome";

$font-base: 16px;
$font-small: 14px;
$font-smallest: 12px;

@font-face {
  font-family: $font-icons-family;
  font-display: "swap";
}
