$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import '~@fontsource/roboto/index.css';
@import '~@fontsource/roboto/100.css';
@import '~@fontsource/roboto/300.css';
@import '~@fontsource/roboto/500.css';
@import '~@fontsource/roboto/700.css';

@font-face {
  font-family: 'scylla';
  src: url('../fonts/scylla.eot?vjf0rq');
  src: url('../fonts/scylla.eot?#iefixvjf0rq') format('embedded-opentype'),
    url('../fonts/scylla.ttf?vjf0rq') format('truetype'),
    url('../fonts/scylla.woff?vjf0rq') format('woff'),
    url('../fonts/scylla.svg?vjf0rq#scylla') format('svg');
  font-weight: normal;
  font-style: normal;
}
