<!doctype html>

<html class="no-js" lang="en">
  {% include head.html %}
  <body>
    <header id="header" class="animated">
      <div class="topbar_continer contain-to-grid">
	  {% include top-nav.html %}
      </div>
      <div class="row inner_bg_2">
        {% include logo.html %}
      </div>

    </header>
    <section id="content">
    <div class="row">
	  <div id="sidebar" class="large-3 columns show-for-large-up">
		<ul class="hidedetails side-nav">
{% include subpage-list.html param=page.section %}
		</ul>
      </div>
        <div class="large-9 columns">
          <h1>{{ page.title}}</h1>
		  {{ content }}
        </div>
      </div>
    </section>

    {% include footer.html %}
    {% include bodyscripts.html %}
  </body>
</html>
