.highlight pre {
    color: #888;
    padding: 1.5rem 1.5rem;
    border-left: 2px solid #6673D6;
    background: #ECECEC;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    line-height: 1.15;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
}
.side-nav a.current {
    color: #6673D1 !important;
}