/*@import "js/vendor/highlight/styles/default.css";*/
/*@import "css/foundation.css";*/
/*@import "css/site.css";*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@font-face {
    font-family: 'scylla';
    src:url('fonts/scylla.eot?vjf0rq');
    src:url('fonts/scylla.eot?#iefixvjf0rq') format('embedded-opentype'),
    url('fonts/scylla.ttf?vjf0rq') format('truetype'),
    url('fonts/scylla.woff?vjf0rq') format('woff'),
    url('fonts/scylla.svg?vjf0rq#scylla') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'scylla';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
    content: "\f003";
}
.icon-social-facebook:before {
    content: "\e611";
}
.icon-left:before {
    content: "\e60f";
}
.icon-right:before {
    content: "\e610";
}
.icon-arow_left:before {
    content: "\e609";
}
.icon-arow_right:before {
    content: "\e60a";
}
.icon-up:before {
    content: "\e607";
}
.icon-no:before {
    content: "\e60b";
}
.icon-yes:before {
    content: "\e60c";
}
.icon-manu:before {
    content: "\e608";
}
.icon-mail:before {
    content: "\e600";
}
.icon-search:before {
    content: "\e601";
}
.icon-arrow-right2:before {
    content: "\e60d";
}
.icon-arrow-left2:before {
    content: "\e60e";
}
.icon-facebook:before {
    content: "\e602";
}
.icon-twitter:before {
    content: "\e603";
}
.icon-feed2:before {
    content: "\e604";
}
.icon-github2:before {
    content: "\e605";
}
.icon-linkedin2:before {
    content: "\e606";
}

.icon-yes {
    color: #57CC8C;
}

.icon-no {
    color: #F6374E;
}

.meta-bar-section {
    display:none;
}

.top-bar-section {
    z-index:1000;
}

/*-------- Mobile styles ----------*/

@media only screen and (max-width: 40em) {

    .social_footer a.nl {
        display: block;
        border-left: 0px solid transparent !important;
        margin-top: 1.5rem;
    }

    .inner_bg_3 {
        background-image: none !important;
    }

}

@media only screen and (max-width: 64.063em) {

    #content {
        padding: 2.5rem 0.5rem !important;
    }

    .top-bar-section li:not(.has-form) a:not(.button) {
        padding: 0.7rem !important;
    }

    .top-bar.expanded {
        background-color: #1A152B;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 100;
        -webkit-box-shadow: 0px 10px 74px 0px rgba(0,0,0,0.45);
        -moz-box-shadow: 0px 10px 74px 0px rgba(0,0,0,0.45);
        box-shadow: 0px 10px 74px 0px rgba(0,0,0,0.45);
    }
}

@media only screen and (min-width: 640px) {

    .logo a img {
        margin: -2rem 0 2rem 0 !important;
    }
}

@media only screen and (min-width: 640px) and (max-width:820px) {
    header {
        margin-bottom:50px;
    }
    header .small-10 {
        width: 100%;
        float: none;
        text-align: center;
        padding-top:15px;
    }

    .top-bar-section {
        top:auto;
        margin-top:60px;
        background:#3a2d55;
        text-align:center !important;
    }

    .right {
        float:none !important;
        margin:0 auto;
        display:inline-block !important;
    }
}


@media only screen and (min-width: 40.0625em) {
    .top-bar {
        padding-top:10px;
    }


}
@media only screen and (min-width: 820px) {

    .top-bar-section {
        top:35px;
        padding-top:0;
    }
    .meta-bar-section {
        position:absolute;
        top:10px;
        left:0;
        display:block;
    }
    .meta-bar-section ul {
        font-size:12px;  
        margin-left:1rem;        
    }

    .meta-bar-section a {
        color:#bbb !important;
    }
}

@media only screen and (min-width: 64.063em) {

    .top-bar {
        padding-top:50px;
    }

    .top-bar-section {
        top:18px;
    }

    .top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
        color: #565C5E !important;
        font-weight: 300 !important;
        white-space: normal;
        line-height: 1.5;
        padding: 0.3rem 0;
    }

    .top-bar-section li:not(.has-form) a:not(.download):hover {
        color: #52BADE !important;
    }

    .top-bar-section .dropdown li:not(.has-form):not(.active):hover{
        background-color: #52BADE !important;
    }

    .top-bar-section .dropdown > li:not(.has-form):not(.active):hover a:hover{
        color: #fff !important;
    }

    .top-bar-section .dropdown li:not(.has-form):not(.active):hover > a{
        color: #14607B !important;
    }

    .top-bar-section .has-dropdown {
        display: block;
        z-index: 100;
        height: 40px
    }

    .top-bar-section .has-dropdown > a  {
        padding-right: 0 !important;
        display: block;
    }

    .dropdown li a {
        color: #DCD8E3 !important;
    }

    .topbar_continer {
        padding: 0 0 0 0 !important;
    }

    .top-bar-section .has-dropdown > a:after {
        border-top-style: none;
    }

    .top-bar-section ul li {
        background: transparent !important;
    }

    .top-bar-section ul li:hover:not(.has-form) > a {
        background: transparent;
        font-weight: 300;
        color: #DCD8E3;
    }

    .active {
        background-color: #4BBCD7 !important;
    }

    .top-bar-section li:not(.has-form) a:not(.button) {
        line-height: 2rem;
    }
}

    /* ----- reset -------*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body, html {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;

}

div:focus {
    outline:none;
}

ul {
    list-style-image: url('img/arow.png');
}

#header {
    background-color: #3a2d55;
}


.side-nav ul {
    margin-left: 0;
    list-style-position: inside;
    list-style-image: none;
}

.side-nav li {
    list-style: none;
    margin: 0 !important;
}

.side-nav a.current {
    color: #6673D1 !important;
}

.side-nav li a:not(.button) {
    color: #4C5253 ;
    font-size: 0.9375rem;
    padding: 0.1rem 0.875rem !important;
}

.side-nav li ul {
    border-left: 2px solid #6673D1;
    margin: 0.5rem 0 0.5rem 1rem;
}

.side-nav li ul li ul {
    margin-bottom: 1rem !important;
    margin-left: 1rem !important;
}

#content {
    padding: 5rem 0;
}

#content .contents.local ul {
    margin-bottom: 2rem;
    margin-left: 2rem;
}

#content .contents.local ul ul {
    margin-bottom: 0;
}

#content h1 {
    font-size: 2rem;
    color: #6673D1;
    line-height: 1.4;
    font-weight: 300;
    margin: 0 0 2rem 0;
}

#content p {
    font-weight: 400;
    font-size: 0.9375rem;
    margin-bottom: 0.75rem;
    line-height: 1.6rem;
}

#content ul li p {
    margin-bottom: 0 !important;
}

#content h2 {
    font-size: 1.65rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

#content h3 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

#content h4 {
    font-weight: 500;
    font-size: 1rem;
    margin: 0 0 1em 0;
}

#content .panel {
    background: #F4F3F5;
    border: 1px solid #DDE0E7;
}

#content .panel h5 {
    /* Getting started with: */
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    line-height: 1.750rem;
    color: #525055;
}

#content .panel p {
    color: #525055;
    margin-bottom: 1rem;
}

#content ul, ol, dl {
    margin-bottom: 2rem;
    margin-left: 1rem;
}

.content ul,
.content ol,
.content dl {
    margin-left: 1rem !important;
    font-size: 0.9375rem !important;
}

#content code {
    display: inline-block;
    color: #4C5253;
    padding: 0rem 0.2rem 0rem 0.2rem;
    background: #ECECEC;
    margin-right: 0.1rem;
}

#content table {
    background: #fff;
    border: 1px solid transparent;
    width: 100%;
}

td, th {
    border-bottom: 2px solid #ECECEC;

}

th, tr, td {
    color: #4C5253 !important;
    font-size: 0.9375rem;
    font-weight: 400;
}

thead {
    background: #ECECEC !important;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
    background: transparent !important;
}

table thead tr th, table thead tr td {
    padding: 0.5rem 0.625rem 0.35rem 0.625rem !important;
}

footer {
    padding: 2rem 0;
    background-color: #3a2d55;
    color: #DCD8E3;
    text-align: center;
}

.social_footer {
    text-align: center;
    padding: 1rem 0;
}

.social_footer a.item {
    color: #9FA3AC;
    font-size: 1.25rem;
    margin: 0 0.4rem;
}

.social_footer a.nl {
    color: #9FA3AC;
    padding-left: 1rem;
    border-left: 1px solid #9FA3AC;
    margin-left: 0.5rem;
    font-weight: 300;
}

.highlight pre {
    color: #444;
    padding: 1rem 1rem;
    border-left: 2px solid #6673D6;
    background: #ECECEC;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    line-height: 1.15;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
    overflow: auto;
}

a.headerlink {
    visibility: hidden;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink,
caption:hover > a.headerlink,
p.caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink {
    visibility: visible;
}

.logo a img {
    margin: -1.4rem 0 1.4rem 0;
}

.side-nav > ul {
    margin-left: 0 ;
}

.side-nav > ul > li > ul {
    margin-left: 1rem !important ;
    margin-bottom: 1.5rem !important; 
}

.contain-to-grid {
    background: transparent;
}
.top-bar-section ul > li {
    background-color: transparent;
    padding: 0 0.8rem;
}

.not-click, .not-click a  {
    cursor: default !important;
}

.top-bar {
    background: transparent;
    position:relative;

}

.top-bar-section ul li a,
.dropdown > li > a {
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300 !important;
    font-size: 0.9375rem;
    color: #DDE0E7 !important;
}

.top-bar-section li:not(.has-form) a:not(.button) {
    background-color: transparent;
    -webkit-transition: all 0.25 ;
    -moz-transition: all 0.25 ;
    -ms-transition: all 0.25 ;
    -o-transition: all 0.25 ;
    transition: all 0.25 ;
    padding: 0;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: transparent;
    color: #52BADE
}



.top-bar .toggle-topbar a,
.top-bar.expanded .toggle-topbar a  {
    padding: 0 !important;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;

}

.top-bar .toggle-topbar {
    right: 3px;
    top: 19px;
    border: 0px solid transparent !important;
}



.top-bar.expanded .title-area {
    background: transparent;
}




.top-bar a.current {
    border-bottom: 2px solid #52BADE;
}

.top-bar.expanded .button:hover {
    background-color: transparent !important;
    border-color: transparent!important;
    color: #4BBCD7 !important;
}


.top-bar.expanded li {
    border-bottom: 1px solid #322C45;
}

.top-bar.expanded li {
    color: #565C5E;
}

.top-bar.expanded li a {
    padding: 0.7rem 1.5rem;
    font-size: 0.9rem;
}



.toggle-topbar a {
    border-top: 0px solid transparent !important;
}

.toggle-topbar {
    border: 0px solid transparent;
}

.top-bar-section .has-form {
    background: transparent;
}

.top-bar-section .has-dropdown > a {
    padding: 0;
}

.search.columns {
     margin-top: 1em;
 }
 
 header .input_search {
     background: transparent;
     border: 0px solid transparent;
     border-bottom: 1px solid #DDE0E7;
     color: #DDE0E7;
     padding: 0rem;
     height: 31px;
     margin-bottom: 0;
     font-size: 15px !important;
     font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
     float: left;
     width: 80%;
 }
 
 header .input_search:focus {
     background: transparent;
     border-bottom: 1px solid #DDE0E7;
 }
 
 .button.search_go {
     background: transparent;
     border-bottom: 1px solid #DDE0E7;
     height: 31px !important;
     float: left;
     width: 20%;
 }
 
 .search_go:hover {
     background: transparent;
     border-bottom: 1px solid #DDE0E7;
 }

header .input_search, .button.search_go {
    top: 5px;
}

 .icon-search {
     margin-right: 0.5rem;
     color: #DDE0E7;
 }
 
 .search_continer {
     margin-top: -3px;
 }
 
 .search_continer div {
     padding: 0;
 }
 
 .search button {
     margin-bottom: 0;
     padding: 0;
     background-color: transparent;
 }

 .search_go {
    padding: 0!important;
 }
/*
 li.search_continer {
    margin-top: 1rem;
    margin-left: 1rem;
 }
*/
.height {
    height: 100% !important;
}

img.vertigo {
    animation-name: infinite-spinning;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    margin: 2rem auto;
}

.vertigo_inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

@keyframes infinite-spinning {
    from {
        transform: rotate(0deg);

    }
    to {
        transform: rotate(360deg);
    }
}

.vertigo_continer {
    position: relative;
    overflow: visible;
}

.bg_404 {
    background: #3A2E56 !important;
    overflow: hidden;
}

.ttl_404 {
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.ttl_404 h1 {
    text-align: center;
    font-weight: 500;
    font-size: 7rem;
    color: #fff;
    margin-bottom: 0rem !important;
    line-height: 1;
}

.ttl_404 p {
    color: #fff;
    text-align: center;
    width: 100%;
}

.button {
    padding: 0.6rem 2rem 0.8rem 2rem;
    color: #0A475C;
    font-weight: 500 !important;
    background-color: #52BADE;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    letter-spacing: 0.01rem;
}
.button:hover {
    background-color: #69C0DE;
    color: #14607B;
}

