name: "Sphinx Multiversion Extension / Unit tests"

on:
  pull_request:
    branches:
      - master
    paths:
      - "extensions/sphinx-multiversion/**"
  push:
    branches:
      - master
    paths:
      - "extensions/sphinx-multiversion/**"

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./extensions/sphinx-multiversion
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.7

      - name: Set up requirements
        run: python -m pip install -r requirements.txt

      - name: Setup extension
        run: python setup.py install

      - name: Run tests
        run: python -m unittest --verbose
